<mat-tab-group>

  <mat-tab label="Monitoring">
    <h3>Monitoring</h3>
    <p><a href="http://remote-monitoring.vsos.ethz.ch:3000/d/tZNuJmhnk/emeal-deploy?orgId=1">
      <mat-icon>launch</mat-icon>
      Grafana</a></p>
  </mat-tab>

  <mat-tab label="Feedback Messages">
    <app-feedback-message-overview></app-feedback-message-overview>
  </mat-tab>

  <mat-tab label="Food Categories">
    <h3>Ingredients with associated Categories</h3>
    <p><a href="https://docs.google.com/spreadsheets/u/1/d/1wsSIxBE1xw4uigsTjU70526XBfWlZfBFd8hKmwsCTBQ/edit#gid=0">
      <mat-icon>launch</mat-icon>
      Google Docs</a></p>
  </mat-tab>

</mat-tab-group>


