<h3>Ingredients with associated Categories</h3>
<p><a href="https://github.com/wp99cp/eMeal_menuplanung/blob/master/backend/pdf-export-module/script/shopping_list/categories.csv">
  <mat-icon>launch</mat-icon>
  categories.csv</a></p>


<h3>Uncategorized Food</h3>
<ng-container *ngIf="(uncategorizedFood | async) as uncategorizedFood">
  <p>
    <ng-container *ngFor="let food of uncategorizedFood">{{food}},&nbsp;</ng-container>
  </p>
</ng-container>

<h3>Resent Corrections</h3>
<ng-container *ngIf="(corrections | async) as corrections">
  <p *ngFor="let corr of corrections">{{corr.from}} -> {{corr.to}} </p>
</ng-container>


