<article>

  <h2>Informationen zur aktuellen Version von eMeal.</h2>
  <p>Hier findest du alle Informationen zur aktuellen Version, Erneuerungen und Fehlerbehebungen.</p>

  <h3>Neues in der Version 1.1.2</h3>
  <p class="news-element news-fixed"> Optimierungen und Fehlerbehebungen in der Wochenübersicht:
    Entfehrnt ein flackern der Mahlzeiten nach dem Speichern eines Lagers in der Wochenübersicht. Fixed ein Bug, bei dem
    Mahlzeiten nach dem ändern des Datums oder dem hinzufügen eines Tages nicht mehr auftauchen.</p>
  <p class="news-element news-fixed"> Verhindert das erstellen von zwei Tagen mit dem gleichen Datum. Behebt einen
    Fehler, bei dem die Tage nicht in der Reihenfolge des Datums angezeigt werden.</p>


  <h3>Neues in der Version 1.1.1</h3>
  <p class="news-element news-fixed">
    Performance optimierungen in der Wochenübersicht beschleunigung das Laden eines Lagers und minimiert den
    Datenverbrauch. </p>

  <h3>Neues in der Version 1.1.0</h3>
  <p class="news-element news-feature"> Markierung als Frischprodukt. Neu lassen sich Zutaten als Frischprodukte
    markieren. Frischprodukte werden in der Lager-Einkaufsliste als 'Frischprod.' gekennzeichnet.
    <a href="/app/hilfe">Weiter Infos zu Frischprodukten.</a></p>
  <p class="news-element news-fixed">
    Behebt einen Fehler beim Export. Exporte die mit der Version 1.0.3 erstellt worden sind, enthalten ggf.
    nicht alle Zutaten der Rezepte. Bei Rezepten, die Vorbereitet werden wurden die Zutaten nicht aufgeführt.
  </p>
  <h3>Neues in der Version 1.0.3</h3>
  <p class="news-element news-feature"> Optimierungen beim Erstellen von neuen Rezepten und Mahlzeiten. Der Suchbegriff
    wird automatisch als Titel übernommen. </p>
  <p class="news-element news-layout"> Die Verwenung und das Datum ist nun auch in der Mahlzeitansicht sichtbar. </p>
  <p class="news-element news-layout"> Entfehrnt den "Export"-Button für Mahlzeiten, da diese Funktion zur Zeit
    nicht
    unterstützt wird. Exportiere das ganze Lager, auch dann, wenn eigentlich nur ein Tag benötigt wird. </p>
  <p class="news-element news-layout"> Neues Layout für den "Rezept-Info-Dialog": Übersichtlichere Darstellung für die
    Anzahl Personen eines Rezeptes und dessen EInstellungen. </p>

  <h3>Neues in der Version 1.0.2</h3>
  <p class="news-element news-fixed"> Korrigiert Rechtschreibefehler. </p>
  <p class="news-element news-fixed"> Offene Änderungen in der Wochenübersicht werden nun gespeichert, wenn ein neuer
    Tag eingefügt wird oder wenn eine neue Mahlzeit hinzugefügt wird. Bisher gingen diese Änderungen verlohren.
  </p>

  <h3>Neues in der Version 1.0.1</h3>
  <p class="news-element news-fixed">
    Behebt einen Rechnungsfehler beim Export. Exporte die mit der Version 1.0.0 erstellt worden sind, enthalten ggf.
    falsche Berechnungen für die Teilnehmeranzahl. Dieser Fehler ist nun behoben! Alle Berechnungen sind wieder
    korrekt.
  </p>


  <h3>Neues in der Version 1.0.0</h3>
  <p class="news-element news-feature">

    Willkommen bei eMeal – Menuplanung! <br />
    eMeal – Menuplanung ermöglicht das Planen von Menüplanen online im Browser. Mit wenigen Klicks erstellst du ein
    eigenes Lager, fügst deine Rezepte und Mahlzeiten ein und schon kannst du das fertige Lagerhandbuch
    herunterladen. <br />
    <br />
    <b>Version 1.0.0</b> unterstützt die folgenden Funktionen: erstellen und bearbeiten von Lagern, Mahlzeiten und
    Rezepte; Vorbereiten von Rezepten an anderen Tagen; Erstellen von Einkaufslisten für das Lager und die einzelnen
    Tage. <br />
    <br />
    <b>Kommende Versionen</b> werden weiter das Teilen und Freigeben von Lagern, Mahlzeiten und Rezepten unterstützen;
    das erstellen von Vorlagen; duplizieren von Lagern, Mahlzeiten und Rezepten; Markieren von Frischprodukten für die
    Tageseinkaufsliste; Anpassungen für Mobilgeräte sowie weitere Funktionalitäten…



</article>
