
// News Items
.news-element::before
  padding: 5px 22px
  border-radius: 10px
  color: white

.news-fixed::before
  content: "FIXED"
  margin: 5px 49px 5px -137px
  background: #96bf10

.news-feature::before
  content: "FEATURE"
  margin: 5px 23px 5px -133px
  background: #96bf10