<article>
  <h2>Informationen zur aktuellen Version von eMeal.</h2>
  <p>
    Hier findest du alle Informationen zur aktuellen Version, Erneuerungen und
    Fehlerbehebungen.
  </p>

  <h3>Neues in der Version 1.8.0 (24. November 2020)</h3>
  <p class="news-element news-feature">
    Bei einer ungültigen URL wird nun eine Fehlerseite angezeigt.
  </p>

  <h3>Neues in der Version 1.7.2 (30. September 2020)</h3>
  <p class="news-element news-fixed">
    Behebt einen Fehler beim Teilen von Lagern, Mahlzeiten und Rezepten:
    Berechtigungen wurden nicht vollständig vergeben.
  </p>
  <p class="news-element news-feature">
    Neu können Nutzer im Teilen-Dialog auch per Mailadresse gefunden werden
    Die Suche beim Namen wird weiterhin unterstützt.
  </p>

  <h3>Neues in der Version 1.7.1 (28. September 2020)</h3>
  <p class="news-element news-fixed">
    Fehlerbehebungen beim Importieren von Mahlzeiten aus externen Quellen.
  </p>

  <h3>Neues in der Version 1.7.0 (11. September 2020)</h3>
  <p class="news-element news-feature">
    Neu können Lager, Mahlzeiten und Rezepte mit anderen Nutzern geteilt werden. Dies ermöglicht ein einfaches
    Zusammenarbeiten im Team. Das Freigeben erfolgt ganz einfach über den Teilen-Dialog.
  </p>
  <p class="news-element news-feature">
    Das Hauptmenü (linker Bildschirmrand) wurde überarbeitet. Dies ermöglicht eine einfachere Navigation.
  </p>
  <p class="news-element news-fixed">
    Verschiedene kleinere und grössere Fehlerbehebungen.
  </p>


  <h3>Neues in der Version 1.6.0 (3. August 2020)</h3>
  <p class="news-element news-feature">
    Neue Möglichkeit für's Login: Neu können sich Nutzer auch über oAuth mit ihrem Cevi.DB-Account anmelden.
  </p>

  <h3>Neues in der Version 1.5.0 (30. Juli 2020)</h3>
  <p class="news-element news-feature">
    Neue Möglichkeit für's Login. Neu können sich Nutzer auch über eine Mailadresse und ein Passwort bei eMeal anmelden.
    Somit entfällt die Pflicht einen Google Account für das Login zu verwenden. Für eine Login kontaktiere bitte den
    Administrator, ein automatisches Registrieren ist (noch) nicht möglich.
  </p>
  <p class="news-element news-feature">
    Neu können Rezepte mit Notizen zur Zubereitung versehen werden. Die Notizen werden bei einem Export ins
    Lagerhandbuch aufgenommen. Gleichzeitig wurde das Layout des PDF-Exportes überarbeitet.
  </p>
  <p class="news-element news-feature">
    Neu können Rezepte mit anderen Benutzern geteilt werden. Sie können die Rezepte nun ebenfalls verwenden und ggf.
    bearbeiten.
  </p>


  <h3>Neues in der Version 1.4.3 (7. Juni 2020)</h3>
  <p class="news-element news-feature">
    Neues Layout für das Bearbeiten von Rezepten. Die neue Tabellenansicht erlaubt es Rezepte wie in Excel zu
    bearbeiten. Einzelne Zutaten lassen sich kopieren und einfügen.
  </p>
  <p class="news-element news-feature">
    In gewissen Bereichen der Applikation steht neu ein Kontext-Menü mit den wichtigsten Funktionen zur Verfügung.
  </p>
  <p class="news-element news-feature">
    In gewissen Bereichen der Applikation stehen neu Hilfe-Texte bzw. Erklärungen zur Verfügung. Diese werden laufend
    ergänzt und verbessert.
  </p>

  <h3>Neues in der Version 1.4.2 (14. Mai 2020)</h3>
  <p class="news-element news-feature">
    Neu können die Rezepte einzel bearbeitet werden. Rezepte müssen nicht mehr zu einem Lager hinzugefügt werden,
    damit sie bearbeitet werden können.
  </p>
  <p class="news-element news-feature">
    Neuer Login Screen mit Verweis auf das Login mit Google.
  </p>

  <h3>Neues in der Version 1.4.1 (13. Mai 2020)</h3>
  <p class="news-element news-fixed">
    Behebt einen Bug: Änderungen in den "Konto / Einstellungen"-Seite konnten nicht gespeichert werden.
  </p>
  <p class="news-element news-fixed">
    Sehr lange Titel für Mahlzeiten, Rezepte oder Lager werden nun mit drei Punkten abgekürzt, falls das Feld in der
    Übersicht nicht ausreicht, um den ganzen Namen anzuzeigen.
  </p>

  <h3>Neues in der Version 1.4.0 (7. Mai 2020)</h3>

  <p class="news-element news-feature">
    Neue Navigation im Footer ermöglicht einen schnellen Zugriff auf nützliche interne und externe Seiten. Rund um den
    Cevi und die Lagerküche.
  </p>


  <h3>Neues in der Version 1.3.0 (19. April 2020)</h3>

  <p class="news-element news-feature">
    Neu können bei den Lagertagen Informationen zum Programm hinterlegt werden.
    Diese Informationen werden beim erstellen des Lagerdossiers exportiert.
  </p>

  <p class="news-element news-feature">
    Erweiterte Funktionen für die Mahlzeiten und Rezeptübersicht. Neu können direkt alle Lager (sofern Zugriff)
    angezeigt werden, die eine bestimmte Mahlzeit verwenden. Bei Rezepten die Mahlzeiten, die deses Rezept verwenden.
  </p>


  <h3>Neues in der Version 1.2.2 (17. April 2020)</h3>
  <p class="news-element news-layout">
    Überarbeitets Layout für Lager, Mahlzeiten und Rezeptübersicht: neu
    durchsuchbare Übersicht mit Kacheln (inkl. dem wichtigsten Infos).
  </p>

  <h3>Neues in der Version 1.2.1 (19. März 2020)</h3>
  <p class="news-element news-feature">
    Notizen zu den Zutaten werden nun auch beim Export in den Rezepten-Seiten
    angezeigt. Bisher wurden diese Informationen nicht exportiert.
  </p>

  <h3>Neues in der Version 1.2.0 (2. März 2020)</h3>
  <p class="news-element news-feature">
    Übersicht mit allen Rezepten und Mahlzeiten.
  </p>

  <h3>Neues in der Version 1.1.5</h3>
  <p class="news-element news-fixed">
    Entfehrnt leere Seiten im Export: Tageseinkaufslisten ohne Zutaten werden
    nicht angezeigt.
  </p>
  <p class="news-element news-fixed">
    Gelöschte Exporte werden auch wirklich entfehrnt; nach dem Löschen sind die
    Exporte auch nicht mehr über den Link erreichbar. Ausserdem werden die
    Export nun nach einem Monat automatisch gelöscht und aus der Export-Seite
    entfehrnt.
  </p>

  <h3>Neues in der Version 1.1.4</h3>
  <p class="news-element news-fixed">
    Behebt einen Bug, nach dem Hinzufügen eines Rezeptes konnte die Zielgruppe
    (Leiter, alle, Vegetarier, ...) nicht gespeichert werden.
  </p>
  <p class="news-element news-fixed">
    Behebt einen Fehler, bei dem das Rezept nach dem Löschen bzw. Hinzufügen
    einer Zutat ohne weitere Veränderungen nicht gespeichert werden konnte..
  </p>

  <h3>Neues in der Version 1.1.3</h3>
  <p class="news-element news-fixed">
    Verhindert das Mahlzeiten an einem Tag während des Lagers vorberietet
    werden, der nicht in der Wochenübersicht aufgeführt ist. Denn dies führt
    dazu, dass die Zutaten der Rezepte nicht in der Einkaufsliste auftauchen.
  </p>

  <h3>Neues in der Version 1.1.2</h3>
  <p class="news-element news-fixed">
    Optimierungen und Fehlerbehebungen in der Wochenübersicht: Entfehrnt ein
    flackern der Mahlzeiten nach dem Speichern eines Lagers in der
    Wochenübersicht. Fixed ein Bug, bei dem Mahlzeiten nach dem Ändern des
    Datums oder dem Hinzufügen eines Tages nicht mehr auftauchen.
  </p>
  <p class="news-element news-fixed">
    Verhindert das erstellen von zwei Tagen mit dem gleichen Datum. Behebt einen
    Fehler, bei dem die Tage nicht in der Reihenfolge des Datums angezeigt
    werden.
  </p>

  <h3>Neues in der Version 1.1.1</h3>
  <p class="news-element news-fixed">
    Performance optimierungen in der Wochenübersicht beschleunigung das Laden
    eines Lagers und minimiert den Datenverbrauch.
  </p>

  <h3>Neues in der Version 1.1.0</h3>
  <p class="news-element news-feature">
    <b>Markierung als Frischprodukt.</b> Neu lassen sich Zutaten als
    Frischprodukte markieren. Frischprodukte werden in der Lager-Einkaufsliste
    als 'Frischprod.' gekennzeichnet.
    <a href="/app/hilfe">Weiter Infos zu Frischprodukten.</a>
  </p>
  <p class="news-element news-fixed">
    Behebt einen Fehler beim Export. Exporte die mit der Version 1.0.3 erstellt
    worden sind, enthalten ggf. nicht alle Zutaten der Rezepte. Bei Rezepten,
    die Vorbereitet werden wurden die Zutaten nicht aufgeführt.
  </p>
  <h3>Neues in der Version 1.0.3</h3>
  <p class="news-element news-feature">
    Optimierungen beim Erstellen von neuen Rezepten und Mahlzeiten. Der
    Suchbegriff wird automatisch als Titel übernommen.
  </p>
  <p class="news-element news-layout">
    Die Verwenung und das Datum ist nun auch in der Mahlzeitansicht sichtbar.
  </p>
  <p class="news-element news-layout">
    Entfehrnt den "Export"-Button für Mahlzeiten, da diese Funktion zur Zeit
    nicht unterstützt wird. Exportiere das ganze Lager, auch dann, wenn
    eigentlich nur ein Tag benötigt wird.
  </p>
  <p class="news-element news-layout">
    Neues Layout für den "Rezept-Info-Dialog": Übersichtlichere Darstellung für
    die Anzahl Personen eines Rezeptes und dessen EInstellungen.
  </p>

  <h3>Neues in der Version 1.0.2</h3>
  <p class="news-element news-fixed">Korrigiert Rechtschreibefehler.</p>
  <p class="news-element news-fixed">
    Offene Änderungen in der Wochenübersicht werden nun gespeichert, wenn ein
    neuer Tag eingefügt wird oder wenn eine neue Mahlzeit hinzugefügt wird.
    Bisher gingen diese Änderungen verlohren.
  </p>

  <h3>Neues in der Version 1.0.1</h3>
  <p class="news-element news-fixed">
    Behebt einen Rechnungsfehler beim Export. Exporte die mit der Version 1.0.0
    erstellt worden sind, enthalten ggf. falsche Berechnungen für die
    Teilnehmeranzahl. Dieser Fehler ist nun behoben! Alle Berechnungen sind
    wieder korrekt.
  </p>

  <h3>Neues in der Version 1.0.0</h3>
  <p class="news-element news-feature">
    Willkommen bei eMeal – Menuplanung! <br/>
    eMeal – Menuplanung ermöglicht das Planen von Menüplanen online im Browser.
    Mit wenigen Klicks erstellst du ein eigenes Lager, fügst deine Rezepte und
    Mahlzeiten ein und schon kannst du das fertige Lagerhandbuch herunterladen.
    <br/>
    <br/>
    <b>Version 1.0.0</b> unterstützt die folgenden Funktionen: erstellen und
    bearbeiten von Lagern, Mahlzeiten und Rezepte; Vorbereiten von Rezepten an
    anderen Tagen; Erstellen von Einkaufslisten für das Lager und die einzelnen
    Tage. <br/>
    <br/>
    <b>Kommende Versionen</b> werden weiter das Teilen und Freigeben von Lagern,
    Mahlzeiten und Rezepten unterstützen; das erstellen von Vorlagen;
    duplizieren von Lagern, Mahlzeiten und Rezepten; Markieren von
    Frischprodukten für die Tageseinkaufsliste; Anpassungen für Mobilgeräte
    sowie weitere Funktionalitäten…
  </p>
</article>
