<article>

  <h2>Informationen zur aktuellen Version von eMeal.</h2>


  <h3>What's new in Version 0.12</h3>
  <p class="news-element news-feature">Dies Version hat keine sichtbaren Erneuerungen. Vielmehr bereiten interne
    Optimierungen und Anpassungen die Applikation auf die Veröffentlichung (ab Version 1.0.0 werden keine Daten mehr
    gelöscht) vorbereitet. Gewisse Funktionen wie z.B. der Export, das Teilen von Lagern stehen Zeitweise nicht zur
    Verfügung. Sämtliche bestehneden Daten wurden gelöscht.
  </p>


  <h3>What's new in Version 0.11</h3>
  <p class="news-element news-feature">Neu im zh11.ch-Look.</p>
  <p class="news-element news-feature">Seitennavigation erleichtert das Navigieren inerhalb der App.</p>

  <h3>What's new in Version 0.10</h3>
  <p class="news-element news-feature">Das Lagerdossier wurde ergänz! Es werden nun auch die Mahlzeiten angezeigt. Und
    die
    neue Version (aktuell noch im Test-Lauf) ermöglicht es dir in Zukunft Lager von allen Geräten aus zu exportieren. In
    Zukunft stehen dir eine PDF- und ein CSV-Verion der Einkaufsliste zur Auswahl.</p>
  <p class="news-element news-fixed">Verschiedene Bug-Fixes erhöhen die Stabilität von eMeal und beheben Fehler in der
    Applikation.</p>
  <br>

  <h3>What's new in Version 0.9</h3>
  <p class="news-element news-feature">Login ist nun mit jedem Google-Account möglich.</p>
  <p class="news-element news-feature">Änderungen im Hintergrund erhöhen die Sicherheit der Applikation.</p>
  <p class="news-element news-feature">Nun kannst du deine Lager mit anderen Teilen und Zusammenarbeiten. Deinen
    Benutzernamen und Sichtbarkeit für andere verändern.</p>
  <p class="news-element news-fixed">Verschiedene Bug-Fixes erhöhen die Stabilität von eMeal und beheben Fehler in der
    Applikation.</p>
  <br>

  <h3>What's new in Version 0.8</h3>
  <p class="news-element news-feature">Neu kannst du erstellte Rezepte ganz einfach wieder löschen, werden offene
    Änderungen automatisch gespeichert, wirst du benachrichtigt, und du kannst nach Mahlzeiten suchen. Die Berechnung
    für
    vegetarische Alternativgerichte wurde vereinfacht.</p>
  <p class="news-element news-feature">Das Layout der Applikation wurde verändert und verbessert. Zahlreiche Hinweise
    wurden ergänzt.</p>
  <p class="news-element news-fixed">Verschiedene Bug-Fixes erhöhen die Stabilität von eMeal und beheben Fehler in der
    Applikation.</p>
  <br>

  <h3>What's new in Version 0.7</h3>
  <p class="news-element news-feature">Offene Änderungen werden beim verlassen einer Seite automatisch gespeichert. Neu
    kannst du Rezepte von Swissmilk automatisiert importieren (BETA-Version). Und ausserdem lassen sich Mahlzeiten nun
    wieder aus einem Lager entfehrnen.</p>
  <p class="news-element news-fixed">Verschiedene Bug-Fixes erhöhen die Stabilität von eMeal und beheben Fehler in der
    Applikation.</p>

</article>
