<div class="centered">

  <span class="page-title">eMeal - Menüplanung für Lager</span>
  <h1>Anmeldung läuft...</h1>
  <p>Du wirst in Kürze weitergeleitet...</p>
  <br>
  <br>
  <p><i>Dieser Prozess sollte weniger als eine Minute dauern. Falls du Probleme beim Login hast,
    probiere die folgenden Schritte: <a (click)="helpService.openHelpPopup('sign-in-info')">Hilfe beim Anmelden</a>. <br>
    Falls das Problem weiterhin besteht, dann melde dich bei uns: <a href="/infos/kontakt">Kontakt</a>.</i></p>

</div>
