<h3 mat-dialog-title>Mahlzeit importieren</h3>

<div>
  <p>Importiere Mahlzeiten aus einer externen Quelle. Zur Zeit werden die folgenden Webseiten akzeptiert: fooby.ch,
    swissmilk.ch.</p>

  <div class="source" [formGroup]="input">

    <mat-form-field>
      <input matInput placeholder="URL der Webseite (swissmilk.ch oder fooby.ch)" formControlName="url"
             (input)="loadMealFromURL()">
    </mat-form-field>

    <mat-spinner class="spinner" *ngIf="showSpinner" diameter="25"></mat-spinner>

  </div>

  <div class="preview mat-elevation-z1">

    <p class="mat-error" *ngIf="showMessage">{{message}}</p>

    <div class="meal-preview" *ngIf="showMeal">

      <p><b>Name: </b>{{meal.meal_name}}</p>
      <p><b>Beschreibung: </b>{{meal.meal_description}}</p>

      <div *ngFor="let recipe of recipes">
        <p><b>Rezept: </b>{{recipe.recipe_name}}</p>
        <div class="recipe">
          <p><b>Zutaten:</b></p>
          <div class="ingredient-cell" *ngFor="let ing of recipe.ingredients">
            <p>{{ing.measure}} {{ing.unit}} {{ing.food}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div mat-dialog-actions class="custom-mat-buttons">
  <p></p>
  <button mat-stroked-button [mat-dialog-close]="null"> Abbrechen</button>
  <button mat-raised-button [disabled]="!readyForImport" color="save" (click)="importMeal()" [mat-dialog-close]="meal">
    Mahlzeit erstellen
  </button>
</div>
