@import '../../.././sass/_colors'

#top-line
    height: 5px
    width: 100%
    background-color: #E19682

header
    margin-left: 110px
    margin-top: 30px

#page-title
    font-size: 2.25rem
    color: $second
    font-weight: bold
    margin-top: 125px