
@import '../../../sass/colors'
@import '../../../sass/fonts'

// Allgemeines zum Header
.header
  background-color: $prime-color
  color: $prime-color-light

  display: inline-grid
  position: fixed
  grid-template-columns: auto auto

  z-index: 100

// Seitennavigation im Header
.nav-link-list
  float: right
  width: auto
  margin-left: auto
  font: $header-nav-font

  // Saparator '·' between the navigation in the header
  .nav-separator
    margin: 5px
