<div class="centered">
  <span class="page-title">Hilfe und Erklärungen</span>

  <h1>Hinweise und Erklärungen zur Benutzung von eMeal Menüplanung.</h1>

  <article>
    <h2>Allgemeines zur Benutzung</h2>
    <p>
      eMeal Menüplanung ist eine freie Software des Cevi Züri 11. Sie steht
      allen Cevi-Abteilungen der Schweiz kostenlos zur Verfügung.
    </p>
    <h3>Hinweise zu Frischprodukte</h3>
    <p>
      Produkte, die täglich Frisch gekauft werden müssen, können als
      Frischprodukte gekennzeichnet werden. Hierzu muss einfach die
      entsprechende Checkbox angewählt werden.<br />
      Frischprodukte werden in der Einkaufsliste als «Frischprod.»
      gekennzeichnet und farblich hervorgehoben. Achtung: Frischprodukte von
      Mahlzeiten, die bereits vor dem Lager vorbereitet werden, werden nicht als
      Frischprodukte behandelt bzw. gekennzeichnet. Diese Zutaten tauchen
      ausschliesslich in der Lager-Einkaufsliste auf.
    </p>
  </article>

  <article>
    <h2>Erstellung von Einkaufslisten, Umrechnung</h2>
    <p>
      Beim Exportieren von Lagern erstellt eMeal Menüplanung automatisch
      verschiedene Einkaufslisten. Wir wollen in diesem Abschnitt auf diese
      Listen genauer eingehen.
    </p>
    <p>
      Grundsätzlich gibt es zwei Typen von Einkaufslisten; die
      Lagereinkaufsliste und die Tageseinkaufsliste. Sämtliche Zutaten sind in
      beiden Listen gelistet. In der Lagereinkaufsliste werden Frischprodukte in
      grauer Schrift markiert. In den Tageseinkaufslisten werden alle nicht
      Frischprodukte grau markiert. Die Tageseinkaufslisten erhalten ausserdem
      nur die Zutaten für die Mahlzeiten des aktuellen Tages (inkl. Mahlzeiten,
      die an diesem Tag vorbereitet werden).
    </p>
    <p>
      Beim Erstellen der Einkaufslisten werden die Zutaten (falls möglich) in
      die Basiseinheit umgerechnet. D.h. zum Beispiel werden Angaben in Gramm in
      der Einkaufsliste in der Masseinheit Kilogramm gelistet. Speziell
      auserwählte Zutaten (wie z.B. Wasser) können auch in eine andere EInheit
      umgerechnet werden. Sämtliche Umrechnungsfaktoren können der folgenden
      Tabelle entnommen werden:
      <a
        href="https://docs.google.com/spreadsheets/d/1wsSIxBE1xw4uigsTjU70526XBfWlZfBFd8hKmwsCTBQ/edit#gid=744603755?usp=sharing"
      >
        Tabelle der Umrechnungsfaktoren </a
      >.
    </p>
    <p>
      Zusätzlich werden die Zutaten in Kategorien eingeteilt. Dies vereinfacht
      den Einkauf. Diese Kategorien können ebenfalls der folgenden Liste
      entnommen werden:
      <a
        href="https://docs.google.com/spreadsheets/d/1wsSIxBE1xw4uigsTjU70526XBfWlZfBFd8hKmwsCTBQ/edit?usp=sharing"
      >
        Liste kategorisierten Zutaten </a
      >.
    </p>
  </article>

  <article>
    <h2>Zusammenarbeit. Freigabe von Lagern, Mahlzeiten und Rezepte.</h2>

    <p>
      Lager, Mahlzeiten und Rezepte können mit anderen Nutzern von eMeal
      Menüplanung geteilt werden. So können an einem Lager mehrere Personen
      gleichzeitig Arbeiten. Im Folgenden einige Hinweise zur Freigabe.
    </p>

    <p style="color: red;">
      <b>Achtung: </b> Es stehen ggf. noch nicht alle hier beschriebenen
      Funktionen zur Verfügung.
    </p>

    <p>
      Lager, Mahlzeiten und Rezepte können über die die Schaltfläche
      "Mitarbeiter" in der Menuliste bzw. über das entsprechende Pop-Up Fenster
      freigegeben werden. <b>Achtung: </b> Zur Zeit kann eine Freigabe leider
      nicht mehr Rückgängig gemacht werden, achte daher genau darauf, wem du
      Zugriff erteilst (in Zukunft wird dies aber möglich sein).
    </p>

    <p>Zur Zeit stehen vier verschiedene Berechtigungsstufen zur Auswahl:</p>
    <ul>
      <li>
        <p>
          <b>Besitzer (owner)</b>: Für jede/s Lager/Mahlzeit/Rezept das du
          erstellst, wird dir die Rolle des Besitzers zugeteilt. D.h. du hast
          vollen Zugriff auf alle Einstellungen, die Mitarbeiterfreigabe, du
          kannst das Element bearbeiten, löschen und verwenden. Jedes Element
          (d.h. Lager, Mahlzeit oder Rezept) hat genau ein Besitzer. Teilst du
          ein Lager mit jemandem und weist dieser Personen die Rolle des
          Besitzers zu, so wird deine eigene Rolle auf die eines Administrators
          abgestuft.
        </p>
      </li>

      <li>
        <p>
          <b>Administrator (editor)</b>: Ein Administrator hat grundsätzlich
          ebenso vollen Zugriff auf ein Element, d.h. er kann es uneingeschränkt
          verändern und verwenden, nicht aber löschen. Nur der Besitzer kann ein
          Lager, ein Rezept oder eine Mahlzeit vollständig löschen. <br />
          Ein Administrator kann aber eine Mahlzeit aus dem Wochenplan
          entfernen oder weitere Mahlzeiten zum Wochenplan hinzufügen. Ebenso
          kann er von einer Mahlzeit ein Rezept entfehrnen (falls gewünscht auch
          in der entsprechenden Vorlage, d.h. ebenfalls in allen anderen Lagern,
          die diese Mahlzeit verwenden). <br />
          Besitzer bzw. Administratoren können Mahlzeiten und Rezepte wahlweise
          lokal (d.h. beschränkt auf dieses Lager) oder global (d.h. auch für
          alle anderen Lager geltend) bearbeiten. <br />
          Administratoren/Besitzer können Rezepte und Mahlzeiten in beliebigen
          Lagern verwenden, auch wenn sie ursprünglich in einem andern Lager
          erstellt worden sind.
        </p>
      </li>

      <li>
        <p>
          <b>Mitarbeiter (collaborator)</b>: Ein Mitarbeiter hat ebenfalls
          schreibe und lese Zugriff auf das Lager, d.h. er kann Tage hinzufügen
          und löschen, Mahlzeiten erstellen und hinzufügen. Sowie alle
          bestehenden Mahlzeiten und Rezepte editieren. Ein Mitarbeiter kann
          auch ein Rezept aus einer Mahlzeit löschen oder hinzufügen. <br />
          Im Unterschied zur Administrator-Rolle werden solche Änderungen nur in
          diesem Lager gespeichert. Beispiel: Ein Mitarbeiter löscht ein Rezept
          aus einer Mahlzeit, so wird das Rezept in allen identischen Mahlzeiten
          dieses Lagers gelöscht (z.B. in allen "normalen Zmorgen") nicht aber
          in den identischen Mahlzeiten in anderen Lagern. Solche lokalen
          Änderungen können von Administratoren wahlweise in die globale (d.h.
          für alle Lager geltende) Vorlage übernommen werden.
          <br />
          Ein Mitarbeiter kann Rezepte und Mahlzeiten auf die er in einem Lager
          Zugriff hat nicht für eigene Lager verwenden, es sei den er erstellt
          eine Kopie davon.
        </p>
      </li>

      <li>
        <p>
          <b>Leser (viewer):</b> Hat auf das Lager sowie alle verwendeten
          Mahlzeiten/Rezepte nur Lesezugriff, d.h. er kann nichts verändern.
          <br />
          In Zukunft können Lager global mit Lesezugriff freigegeben werden,
          d.h. jeder Nutzer von eMeal Menüplanung kann das Lager anschauen und
          ggf. eine Kopie davon erstellen und für sich selber verwenden.
        </p>
      </li>
    </ul>
  </article>
</div>
