<div class="centered">

  <span class="page-title">Hilfe und Erklärungen</span>

  <h1>Hinweise und Erklärungen zur Benutzung von eMeal Menüplanung.</h1>

  <article>
    <h2>Allgemeines zur Benutzung</h2>
    <p>eMeal Menüplanung ist eine freie Software des Cevi Züri 11. Sie steht allen Cevi-Abteilungen der Schweiz
      kostenlos
      zur Verfügung.</p>
    <p>Weitere Infos kommen bald.</p>
  </article>

  <article>
    <h2>Zusammenarbeit. Freigabe von Lagern, Mahlzeiten und Rezepte.</h2>
    <p>Lager, Mahlzeiten und Rezepte können mit anderen Nutzern von eMeal Menüplanung geteilt werden. So können an einem
      Lager mehrere Personen gleichzeitig Arbeiten. Im Folgenden einige Hinweise zur Freigabe.</p>
    <p>Kommt bald.</p>
  </article>

</div>
