<div class="centered">

  <span class="page-title">Hilfe und Erklärungen</span>

  <h1>Hinweise und Erklärungen zur Benutzung von eMeal Menüplanung.</h1>

  <article>
    <h2>Allgemeines zur Benutzung</h2>
    <p>eMeal Menüplanung ist eine freie Software des Cevi Züri 11. Sie steht allen Cevi-Abteilungen der Schweiz
      kostenlos
      zur Verfügung.</p>
    <h3>Hinweise zu Frischprodukte</h3>
    <p>
      Produkte, die täglich Frisch gekauft werden müssen, können als Frischprodukte gekennzeichnet werden. Hierzu muss
      einfach die entsprechende Checkbox angewählt werden.<br>
      Frischprodukte werden in der Einkaufsliste als «Frischprod.» gekennzeichnet und farblich hervorgehoben. Achtung:
      Frischprodukte von Mahlzeiten, die bereits vor dem Lager vorbereitet werden, werden nicht als Frischprodukte
      behandelt bzw. gekennzeichnet. Diese Zutaten tauchen ausschliesslich in der Lager-Einkaufsliste auf.</p>

  </article>

  <article>
    <h2>Zusammenarbeit. Freigabe von Lagern, Mahlzeiten und Rezepte.</h2>
    <p>Lager, Mahlzeiten und Rezepte können mit anderen Nutzern von eMeal Menüplanung geteilt werden. So können an einem
      Lager mehrere Personen gleichzeitig Arbeiten. Im Folgenden einige Hinweise zur Freigabe.</p>
    <p>Kommt bald.</p>
  </article>

</div>
