<button class="print default" (click)="print()">Lager Drucken</button>
<h1 class="warning onlyOnPrint">Diese Seite nicht drucken!</h1>

<p>
    Im folgenden die Druckforschau deiens Lagers. <br />
    Das Ausdruck ist in einem Google Chrome Brwoser über die Druckfunktion möglich.
</p>

<!-- Titleblatt -->
<h1 class="onNewPage">Name des Lagers</h1>
<h2>Wochenplan Küche</h2>

<!-- Wochenplan -->
<h1 class="onNewPage">Wochenplan</h1>

<!-- Mahlzeiten -->
<h1 class="onNewPage">Zmorgen (Montag, 1. Dezemeber 2019)</h1>

<!-- Mahlzeiten -->
<h1 class="onNewPage">Zmittag (Montag, 1. Dezemeber 2019)</h1>

<!-- Mahlzeiten -->
<h1 class="onNewPage">Znacht (Montag, 1. Dezemeber 2019)</h1>

<!-- Einkaufsliste -->
<h1 class="onNewPage">Einkaufsliste (Ganzes Lager)</h1>

<!-- Einkaufsliste -->
<h1 class="onNewPage">Einkaufsliste (Ganzes Lager ohne Frischprodukte)</h1>

<!-- Einkaufsliste -->
<h1 class="onNewPage">Frischprodukte</h1>

<!-- Last new Page -->
<h1 class="onNewPage onlyOnPrint warning">Diese Seite nicht drucken!</h1>