@import '../../../sass/colors'
@import '../../../sass/fonts'

.footer
  padding: 60px 10px 40px 10px
  display: grid
  height: 60px

  background-color: $second-color

  span
    text-align: center
    color: $second-color-light
    font: $footer-font
    margin: 3px 0
