<div class="footer-menu-area">

  <div class="footer-menu">

    <div class="submenu">
      <h4>Erklärungen & Ideen</h4>
      <span class="clickable" routerLink="/infos">Über eMeal - Menüplanung</span>
      <span class="clickable" routerLink="/app">Anmelden</span>
      <span><br></span>
      <span><a href="https://wiki.cevi.ch/index.php/Kategorie:Rezept">Rezeptsammlung</a></span>
      <span><a href="https://wiki.cevi.ch/index.php/Lagerk%C3%BCche">Informationen zur Lagerküche</a></span>
    </div>
    
    <hr />

    <div class="submenu">
      <h4>Kontakt & Hilfe</h4>
      <span class="clickable" routerLink="/app/hilfe">Oft gestellte Fragen</span>
      <span><br></span>
      <span class="clickable" routerLink="/kontakt">Kontakt </span>
      <span class="clickable" routerLink="/datenschutz">Datenschutzbestimmungen</span>
      <span class="clickable" routerLink="/impressum">Impressum</span>
    </div>

    <hr />

    <div class="submenu">
      <h4>Cevi Züri 11</h4>
      <span><a href="https://zh11.ch/ueber-uns">Cevi Züri 11</a></span>
      <span><a href="https://zh11.ch/material">Materialvermietung</a></span>
      <span><a href="https://emeal.zh11.ch/infos">eMeal - Menüplanung</a></span>
      <span><br></span>
      <span><a href="https://www.cevi.ch/home/">Cevi Schweiz</a></span>
    </div>

  </div>

</div>

<footer class="footer">
  <span>Aktuelle Version: {{version}}</span>
  <span>{{copyrights}}</span>
</footer>