<h2>Neue Versionen - v1.14.14</h2>

<div mat-dialog-content>

  <h3>Was gibt es neues in eMeal - Menüplanung? </h3>

  <p>Dieses Update behebt einen Fehler beim Export:</p>

  <p class="news-element news-fixed">
    Wurde das '&'-Zeichen verwendet (z.B. bei 'Hörndli & g'Hacktes') wurde der Export nicht korrekt ausgeführt und die
    Wochenübersicht wurde verschoben dargestellt. Dies ist nun behoben.
  </p>

</div>


<div mat-dialog-actions class="custom-mat-buttons">
  <p><a routerLink="/infos/changeLog" [mat-dialog-close]=""> Alle Versionen </a></p>
  <button mat-raised-button color="save" [mat-dialog-close]=""> Schliessen</button>
</div>
