<h2>Neue Versionen - v1.16.1</h2>

<div mat-dialog-content>

  <h3>Was gibt es neues in eMeal - Menüplanung? </h3>

  <p>Dieses Update bringt eMeal technisch auf den neusten Stand:</p>

  <p class="news-element news-feature">
    Alle technischen Grundlagen von eMeal wurden aktualisiert. An der Bedienung ändert sich nichts,
    einzelne Elemente können aber leicht anders aussehen als bisher.
  </p>

  <p class="news-element news-fixed">
    Auch die Dienste im Hintergrund (Import von Rezepten, Anmeldung und Export) wurden aktualisiert.
  </p>

</div>


<div mat-dialog-actions class="custom-mat-buttons">
  <p><a routerLink="/infos/changeLog" [mat-dialog-close]=""> Alle Versionen </a></p>
  <button mat-raised-button color="save" [mat-dialog-close]=""> Schliessen</button>
</div>
