<h3>Neues Lager erstellen</h3>


<div class="colored-background">

  <form [formGroup]="newCampInfos">

    <mat-form-field class="full-width">
      <input matInput placeholder="Name des Lagers" required formControlName="name" #name maxlength="32"
             autocomplete="off">
      <mat-hint align="end">{{name.value?.length}} / 32</mat-hint>
    </mat-form-field>

    <br/>

    <mat-form-field class="full-width">
      <input matInput placeholder="Beschreibung zum Lager" formControlName="description" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-date-range-input placeholder="Erster Lagertag" required [rangePicker]="picker">
        <input matStartDate placeholder="Start-Datum" formControlName="start" data-date-format="DD MMMM YYYY"
               autocomplete="off">
        <input matEndDate placeholder="End-Datum" formControlName="end" data-date-format="DD MMMM YYYY"
               autocomplete="off">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker startView="year"></mat-date-range-picker>
      <mat-hint align="start"> Du kannst auch später Tage hinzufügen / entfernen.</mat-hint>

    </mat-form-field>
  </form>

  <h4>Teilnehmende deines Lagers</h4>

  <form [formGroup]="newCampParticipants">

    <mat-form-field class="full-width">
      <input matInput placeholder="Anzahl Teilnehmende" required formControlName="participants" type='number'
             autocomplete="off">
      <mat-hint align="start">Du kannst die Teilnehmeranzahl später jederzeit anpassen.</mat-hint>
    </mat-form-field>

    <mat-form-field class="half-left">
      <input matInput placeholder="Anzahl Vegetarier" required formControlName="vegetarians" type='number'
             autocomplete="off">
      <mat-hint align="start">Gemeint: Von deinen {{newCampParticipants.get('participants').value}} Teilnehmenden
        sind {{newCampParticipants.get('vegetarians').value}} vegetarier.
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="half-right">
      <input matInput placeholder="Anzahl Leitungspersonen" required formControlName="leaders" type='number'
             autocomplete="off">
      <mat-hint align="start">Gemeint: Von deinen {{newCampParticipants.get('participants').value}} Teilnehmenden
        sind {{newCampParticipants.get('leaders').value}} Leitungspersonen. </mat-hint></mat-form-field>

  </form>



</div>


<div mat-dialog-actions class="custom-mat-buttons">
  <p><a (click)="helpService.openHelpPopup()">Neu bei eMeal? Hilfe öffnen.</a></p>
  <button mat-stroked-button [mat-dialog-close]="null"> Abbrechen</button>
  <button mat-raised-button color="save" [mat-dialog-close]="createCamp()"
          [disabled]="!(newCampInfos.valid && newCampParticipants.valid)"> Lager erstellen
  </button>
</div>

