<app-template-header></app-template-header>

<app-main-menu></app-main-menu>

<main id="main" (click)="closeMenu()">
  <div *ngIf="!environment.production" style="background-color: #ec7b0f80;
    position: fixed;
    z-index: 2000;
    width: 100vw;
    top: 0;
    margin: 60px -25px;">
  <span style="    line-height: 15px;
    margin: 15px 0 15px 50px;
    font-size: 12px;
    font-weight: 600;
    color: #632501d1;
    display: block;">
    Test Environment | Version: {{build.version}} | Branch: {{build.git.branch}}
    | Build: {{build.git.hash}}  | DB: {{environment.firebaseConfig.projectId}}</span>
  </div>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</main>

<app-template-footer (click)="closeMenu()"></app-template-footer>

