<a class="iconText" routerLink="/app" atTooltip="Zur Startseite">
  <img class="logo" src="/assets/icons/logo.svg" width="30" heigth="30" alt="Logo Cevi Züri 11">
  <span class="logoName">Cevi Züri 11</span>
  <span class="logoSubname">8052 Zürich</span>
</a>


<hr />
<div *ngIf="isSignedIn() else notSignedIn" class="nav" (click)="closeMenu()">

  <ul class="top">
    <li>
      <mat-icon class="nav-icon">nature_people</mat-icon>
      <a routerLink="/app/camps" matTooltip="Meine Lager"> Meine Lager </a>
    </li>
    <li>
      <mat-icon class="nav-icon">fastfood</mat-icon>
      <a routerLink="/app/meals" matTooltip="Übersicht aller Mahlzeiten"> Mahlzeiten </a>
    </li>
    <li>
      <mat-icon class="nav-icon"> menu_book </mat-icon>
      <a routerLink="/app/recipes" matTooltip="Übersicht aller Rezepte"> Rezepte </a>
    </li>
  </ul>


  <ul class="bottom">
    <hr />
    <li> <a routerLink="/app" m> Startseite </a> </li>
    <li routerLink="/app/hilfe"><a matTooltip="Hilfe und Erklärungen zu eMeal Menüplanung">Hilfe / Erklärungen</a></li>
    <li> <a routerLink="/app/feedback" matTooltip="Melde einen Fehler">Fehler melden</a> </li>
    <hr />
    <li><a routerLink="/app/settings" matTooltip="Einstellungen / Infos zu meinem Konto">Konto / Einstellungen</a></li>
    <li><a routerLink="/" matTooltip="Von eMeal abmelden" (click)="signOut()">Abmelden</a></li>
  </ul>

</div>

<ng-template #notSignedIn>
  <div class="nav" (click)="closeMenu()">

    <ul class="top">
      <li><a routerLink="/" matTooltip="Über eMeal">Startseite</a></li>
      <li><a routerLink="/infos" matTooltip="Weitere Informationen">Informationen</a></li>
      <li routerLink="/infos/hilfe"><a matTooltip="Hilfe und Erklärungen zu eMeal Menüplanung">Hilfe / Erklärungen</a></li>
    </ul>

    <ul class="bottom">
      <li><a routerLink="/infos/changeLog" matTooltip="Neue Funktionen">Neue Funktionen</a></li>
      <li><a routerLink="/infos/kontakt" matTooltip="Kontakt aufnehmen">Kontakt</a></li>
      <hr />
      <li><a class="deactive" matTooltip="Kommt bald">Registrieren</a></li>
      <li><a routerLink="/login" matTooltip="Anmelden und loslegen!">Anmelden</a></li>
    </ul>

  </div>
</ng-template>
