<span class="big-page-title">Meine Rezepte</span>


<mat-form-field class="mat-form-field full-width">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rezept suchen..." id="search-field">
</mat-form-field>

<div id="recipesList" *ngIf="filteredElements as recipes">

  <app-list-card *ngFor="let recipe of recipes" [cardElement]="recipe"
    [access]="access[recipe.documentId]" (copy)="copy($event)" (delete)="delete($event)"></app-list-card>

</div>

<p *ngIf="filteredElements?.length === 0 && (dbElements | async)?.length !== 0"> Du hast noch kein Rezept erstellt, das zu deinem Suchbegriff passt! </p>

<div class="create-first-recipe mat-elevation-z3" *ngIf="(dbElements | async)?.length === 0">

  <div>
    <h3>Erstelle jetzt dein erstes Rezept!</h3>
    <button (click)="newElement()" mat-raised-button color="save">Rezept erstellen</button>
  </div>

</div>
