.mat-expansion-panel-header-title
  max-width: 250px

.mat-expansion-panel-header-description
  display: block
  text-align: right

.mat-expansion-panel
  margin-top: 10px

  .mat-table
    margin-bottom: 50px
    margin-top: 50px

    .mat-footer-cell
      color: lightgray
      font-style: italic
      font-size: 0.8em

    .mat-icon
      font-size: 1.5em
      opacity: 0.9

.delete-recipe
  float: right
  margin-top: -37px
  font-size: 21px
  opacity: 0.9

// Abstand nach dem Lable zum nächsten Button
.mat-radio-button
  margin-right: 10px
