<h1 class="mat-h1">Erstelle ein neues Lager.<br />
  Oder bearbeite ein bereits Erstelltes.</h1>


<!-- List with camps-->
<div *ngIf="camps; else loadingCamps" class="mat-elevation-z1">

  <mat-form-field class="mat-form-field">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Nach Namen suchen:"
      matTooltip="Suche nach dem Namen eines Lagers.">
  </mat-form-field>

  <!-- Table with camps-->
  <table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name des Lagers </th>
      <td mat-cell *matCellDef="let element" routerLink="{{element.FIRESTORE_ELEMENT_ID}}"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
      <td mat-cell *matCellDef="let element" routerLink="{{element.FIRESTORE_ELEMENT_ID}}"> {{element.description}}
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Jahr </th>
      <td mat-cell *matCellDef="let element" routerLink="{{element.FIRESTORE_ELEMENT_ID}}"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="participants">
      <th mat-header-cell *matHeaderCellDef> #TNs </th>
      <td mat-cell *matCellDef="let element" routerLink="{{element.FIRESTORE_ELEMENT_ID}}"> {{element.participants}}
      </td>
    </ng-container>

    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)='deleteCamp()'>more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Link to Camp-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      matTooltip="Klicke auf eines deiner Lager, um es zu Bearbeiten."></tr>

  </table>

</div>

<!-- Loading Animation -->
<ng-template #loadingCamps>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>


<!-- Create a new Camp -->
<div *ngIf="camps" class="newCampDiaglog">
  <h2 class="mat-h2">Erstelle ein neues Lager</h2>

  <p>Erstelle ein Lager und beginne mit planen. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
    duo .</p>


  <mat-vertical-stepper [linear]="true" class="mat-elevation-z1">

    <!-- Allgemeine Infos -->
    <mat-step label="Infos zum Lager" [stepControl]="newCampInfos">
      <p>Zuerst benötigen wir ein paar allgemeine Informationen zu deinem Lager.</p>

      <form [formGroup]="newCampInfos">


        <mat-form-field>
          <input matInput placeholder="Name des Lagers" required formControlName="name">
        </mat-form-field>
        <br />

        <mat-form-field>
          <input matInput placeholder="Beschreibung" required formControlName="description">
        </mat-form-field>

      </form>

      <br />

      <button mat-raised-button matStepperNext>Weiter</button>
    </mat-step>

    <!-- Anzahl Teilnehmende -->
    <mat-step label="Anzahl Teilnehmer" [stepControl]="newCampParticipants">
      <p>Bitte gib die voraussichtliche Anzahl Teilnehmende an. </p>
      <form [formGroup]="newCampParticipants">

        <mat-form-field>
          <input matInput placeholder="Anzahl Teilnehmende" required formControlName="participants" type='number'>
        </mat-form-field>
      </form>

      <p class="warning">In Zukunft wird es möglich sein, deine Lager mit der Cevi-DB zu verknüpfen. Somit bleibt die
        Teilmeheranzahl
        stehts aktuell.</p>
      <br />
      <button mat-raised-button matStepperNext>Weiter</button>
    </mat-step>

    <!-- Mitarbeiter -->
    <mat-step label="Mitarbeiter hinzufügen">

      <p>Füge einen oder meherere Mitarbeiter zu deinem Lager hinzu. Mitarbeiter können das Lager bearbeiten,
        nicht aber löschen.</p>
      <br />

      <app-user-list (onSelection)='selectUser($event)'></app-user-list>

      <br />

      <p class="warning">Achtung im Moment können Mitarbeiter zu einem späteren Zeitpunkt nicht mehr eingeladen werden!
      </p>
      <button mat-raised-button matStepperNext>Weiter</button>
    </mat-step>

    <!-- Mit Planen beginnen -->
    <mat-step label="Mit planen beginnen" [stepControl]="newCampDate">
      <p>Füge einen ersten Tag hinzu.</p>
      <form [formGroup]="newCampDate">

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Erster Lagertag" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>

      <br />
      <button mat-raised-button matStepperNext (click)="createCamp()" type="submit">Lager erstellen</button>
    </mat-step>
  </mat-vertical-stepper>

</div>