<h3>Informationen zum {{camp.name}}</h3>

<form [formGroup]="campInfosForm">

  <h3>Name und Beschreibung</h3>

  <mat-form-field class="full-width">
    <input matInput placeholder="Name" formControlName="name" #name maxlength="32" autocomplete="off" />
    <mat-hint align="end">{{ name.value.length }} / 32</mat-hint>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea id="descriptionField" matInput placeholder="Beschreibnung" formControlName="description"></textarea>
  </mat-form-field>

  <h3>Anzahl Teilnehmende</h3>

  <p class="info">Deine Mahlzeiten und Rezepte werden automatisch auf die festgelegte Teilnehmeranzahl angepasst.</p>
  <br>

  <mat-form-field class="thirds">
    <input matInput placeholder="Anzahl Teilnehmende (inkl. Leiter und Vegetarier)" formControlName="participants" type="number" />
  </mat-form-field>

  <mat-form-field class="thirds">
    <input matInput placeholder="Davon Vegetarier" formControlName="vegetarier" type="number" />
  </mat-form-field>

  <mat-form-field class="thirds">
    <input matInput placeholder="Davon Leiter/-innen" formControlName="leaders" type="number" />
  </mat-form-field>


</form>

<div mat-dialog-actions class="custom-mat-buttons">
  <p><a (click)="helpService.openHelpPopup('was-ist-ein-lager')">Hilfe: Lager in eMeal.</a></p>
  <button mat-stroked-button [mat-dialog-close]="null"> Abbrechen </button>
  <button mat-raised-button [disabled]="valueHasNotChanged || !(hasAccess | async)" [mat-dialog-close]="saveValueChanges()" color="save">Speichern</button>
</div>
