<mat-grid-list cdkDropListGroup [gutterSize]="'10px'" cols="{{ colCounter }}" rowHeight="588px">

  <!-- Every day is a grid tile -->
  <mat-grid-tile class="mat-elevation-z3" *ngFor="let day of camp.days; let i = index">
    <app-day-overview [day]="day" [days]="camp.days" [specificMeals]="(day.getMeals() | async)"
                      (mealDropped)="drop($event)" (mealDeleted)="deleteMeal($event[0], $event[1])" [access]="hasAccess"
                      (dayEdited)="editDay($event[0], $event[1],  $event[2])" (addMeal)="addMeal(camp.days.indexOf($event))">
    </app-day-overview>
  </mat-grid-tile>

  <!-- HTML element for adding a new day -->
  <mat-grid-tile class="add-day-box dotted-box" *ngIf="hasAccess">
    <mat-icon class="add-day-icon clickable" matTooltip="Tag hinzufügen" (click)="addNewDay()">
      add_circle_outline
    </mat-icon>
  </mat-grid-tile>

</mat-grid-list>


