<div class="centered">

  <span class="page-title">Über eMeal</span>

  <h1>Weitere Informationen zu Menüplanungs-App eMeal.</h1>

  <article>

    <h2>Entstehungsgeschichte von eMeal</h2>
    <p> Bereits seit einigen Jahren plante der <a href="https://zh11.ch">Cevi Züri 11</a> seine Lagerküche mithilfe
      eines Excel-Sheets.
      Dieses Excel fasst unter anderem die Zutaten automatisch zu einer Einkaufsliste für das gesamte Lager zusammen.
      Dies funktionierte gut, allerdings dauerten die aufwendigen Berechnungen jeweils sehr lange.</p>
    <p> Bald schon entstand die Idee, eine eigene Software zu schreiben. So entstand die Web-Applikation eMeal,
      die es von nun an ermöglicht Lager online zu planen.</p>

  </article>

  <app-version-info></app-version-info>

</div>
