<h3>Feedback Messages</h3>
<mat-slide-toggle [checked]="showResolved" (change)="showResolved = $event.checked" color="primary">Show resolved messages</mat-slide-toggle>
<mat-accordion *ngIf="(feedbackMessages | async) as messages">

  <p *ngIf="visibleMessages(messages).length === 0">No open feedback messages.</p>

  <mat-expansion-panel hideToggle *ngFor="let feedback of visibleMessages(messages)">
    <mat-expansion-panel-header>
      <mat-panel-title [class.resolved]="feedback.resolved">
        {{feedback.title}}
      </mat-panel-title>
      <mat-panel-description>
        <p>{{swissDateAdapter.format_time(feedback.date_added.toDate())}}</p>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>
      <b>Name: </b> {{feedback.displayName}}: (<a href="mailto:{{feedback.email}}">{{feedback.uid}}</a>)<br>
      <b>URL: </b>{{feedback.currentURL}}<br>
    </p>

    <p><b>Message: </b>{{feedback.message}}</p>

    <div class="action-panel">
      <button mat-stroked-button disabled>Link GitHub Issue</button>
      <button mat-stroked-button *ngIf="!feedback.resolved" (click)="resolve_issue(feedback.id)">Resolve Issue</button>
      <button mat-stroked-button *ngIf="feedback.resolved" (click)="reopen_issue(feedback.id)">Reopen Issue</button>
    </div>

  </mat-expansion-panel>
</mat-accordion>
