<h2>Informationen zum Rezept</h2>

<div class="content">
  <form [formGroup]="recipeForm" class="form1">

    <h3>Allgemeines zum Rezept: {{recipe.name}}</h3>

    <mat-form-field class="full-width">
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput placeholder="Beschreibung" formControlName="description"></textarea>
    </mat-form-field>

  </form>

  <form [formGroup]="recipeForm" class="form2">
    <h3>Anzahl Teilnehmende</h3>

    <p class="info">Im Normalfall wird ein Rezept für die Anzahl Personen der Mahlzeit bzw. des Lagers berechnet. Du
      hast
      verschiedene Möglichkeiten die Personenanzahl anzupassen.</p>

    <p class="participants">Das Rezept wird für <b>
      {{calcRecipeParticipants(
      camp.participants,
      camp.vegetarians,
      camp.leaders,
      specificMeal.participants,
      this.recipeForm.get('overrideParticipants').value ? this.recipeForm.get('participants').value : 0,
      specificMeal.overrideParticipants,
      this.recipeForm.get('overrideParticipants').value,
      this.recipeForm.get('vegi').value)
      }}
      Personen</b> berechnet.</p>

    <mat-radio-group formControlName="vegi">
      <mat-radio-button value="all"> Rezept für alle Teilnehmende</mat-radio-button>
      <mat-radio-button value="vegetarians"> Nur für Vegetarier</mat-radio-button>
      <mat-radio-button value="non-vegetarians"> Nur für Nicht-Vegetarier</mat-radio-button>
      <mat-radio-button value="leaders"> Nur für Leitende</mat-radio-button>
    </mat-radio-group>

    <mat-checkbox formControlName="overrideParticipants" class="checkbox">Teilnehmeranzahl manuell anpassen
    </mat-checkbox>

    <mat-form-field class="full-width" *ngIf="recipeForm.value.overrideParticipants">
      <input id="participants" matInput placeholder="Anzahl Personen (nur) für diese Mahlzeit"
             formControlName="participants" type="number">
    </mat-form-field>

  </form>

</div>

<div mat-dialog-actions class="custom-mat-buttons">
  <p></p>
  <button mat-stroked-button [mat-dialog-close]="null"> Abbrechen </button>
  <button mat-raised-button [disabled]="infoHasNotChanged" [mat-dialog-close]="saveValueChanges()"
          color="save">Speichern</button>
</div>
