<ng-container *ngIf="(camp | async) as camp; else loadingMeal">
  <ng-container *ngIf="(meal | async) as meal; else loadingMeal">
    <ng-container *ngIf="(specificMeal | async) as specificMeal; else loadingMeal">

      <span class="big-page-title">{{meal.name}}</span>

      <div class="meal-infos">
        <p><b>Anzahl Personen:</b>
          {{calcMealPart(camp.participants, specificMeal.participants, specificMeal.overrideParticipants )}} Per.
          (Vegis im Lager:
          {{camp.vegetarians}} Per.) </p>
        <p><b>Verwendung:</b> {{swissDateAdapter.formatLong(specificMeal.date.toDate())}} /
          {{specificMeal.usedAs}} </p>
      </div>

      <mat-accordion *ngIf="(recipes | async) as recipes; else loadingMeal">

        <ng-container *ngFor="let recipe of recipes; let i = index">
          <app-edit-recipe-in-camp [recipe]="recipe" [specificMeal]="specificMeal" [camp]="camp" [index]="i"
            [isOpen]="i == indexOfOpenedPanel" (opened)="newOpened($event)" [meal]="meal"
            (saveOthers)="save(); indexOfOpenedPanel = -1">
          </app-edit-recipe-in-camp>
        </ng-container>

        <p *ngIf="recipes?.length == 0"> Diese Mahlzeit enthält noch keine Rezepte:
          <a (click)="newRecipe()">Rezept einfügen</a>.
        </p>

      </mat-accordion>

      <p class="info" id="change-warning" *ngIf="(recipes | async)?.length != 0"><b>Achtung: </b>
        Das Bearbeiten der Zutaten eines Rezeptes hat Auswirkungen auf alle
        identischen Rezepte in diesem und auch in allen anderen Lagern! </p>


    </ng-container>
  </ng-container>
</ng-container>



<!-- Loading Animation -->
<ng-template #loadingMeal>
  <h1 class="mat-h1">Daten werden geladen...</h1>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
