<h1>Lagerküche<br>online planen.</h1>
<p id="caption_text">Mit eMeal - Menüplanung kannst du Rezepte, Mahlzeiten sowie ganze Lager online erstellen, verwalten
  und zu einer Broschüre zusammenstellen. <a routerLink="/infos/eMeal">Erfahre mehr über eMeal - Menüplanung.</a>
</p>

<img id="table_of_ingredients_img" src="assets/img/landing_page/table_of_ingredients.png"
     alt="Zutatenliste eines Rezeptes in eMeal - Menüplanung"/>
<img id="day_overview" src="assets/img/landing_page/Day_Overview.png"
     alt="Tagesübersicht eines Lagers in eMeal - Menüplanung"/>
<img id="camp_card_img" src="assets/img/landing_page/Camp_Card.png"
     alt="Beispiellager des Cevi Züri 11 in eMeal - menüplanung"/>

<div class="sign-in-button-wrapper">
  <button mat-stroked-button routerLink="/app" id="get-started">
    Anmelden und loslegen
  </button>
</div>
