.info-card
  margin: 15px
  float: left

  .mat-card-header-text
    margin: 0

.info-cards
  float: left
  width: 100%
  margin: 20px 0
  display: grid
  grid-template-columns: 50% 50%

.header-right
  position: fixed
  right: 0
  top: 0
  z-index: 120
