<h1 class="mat-h1">Plane deine Lagerküche ganz einfach online.<br />
  Mit der eMeal Menuplanung.</h1>


<div class="info-cards">

  <mat-card class="info-card">

    <mat-card-header>
      <mat-card-title>Schneller Zugriff </mat-card-title>
      <mat-card-subtitle>Verfügbar auf allen Geräten - Direkt im Browser.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p> eMeal läuft im Browser. Deine Rezepte, Lager und Mahlzeiten stehen dir somit jederzeit auf all deinen
        Geräten zur Verfügung. </p>
      <p> Natürlich kannst du eMeal auch auf deinem Computer und/oder Smartphone installieren.
        Deine Rezepte werden lokal gespeichert und sobald du eine Internetverbindung hast über alle Geräte
        synchronisiert (Funktion zurzeit noch nicht verfügbar). </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="info-card">

    <mat-card-header>
      <mat-card-title>Einfache Zusammenarbeit</mat-card-title>
      <mat-card-subtitle>Teilen und gemeinsames Bearbeiten von Lagern.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p> Cevi heisst Teamarbeit, daher läuft eMeal in der Cloud. So kannst du mit anderen in Echtzeit
        zusammenarbeiten. </p>
      <p> Erstelle und verwalte Rezeptvorlagen, damit das Planen für andere noch einfacher wird (Funktion zurzeit noch
        nicht verfügbar). </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="info-card">

    <mat-card-header>
      <mat-card-title>Automatisches Lagerdossier</mat-card-title>
      <mat-card-subtitle>Exportiere Einkaufslisten als PDF oder Excel möglich.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p> Hast du deine Planung abgeschlossen, so kannst du sie einfach als PDF herunterladen. eMeal erstellt dir
        automatisch eine Vollständige Lager-Broschüre inkl. allen Rezepten, einer Einkaufsliste und deinen Notizen. </p>
    </mat-card-content>

  </mat-card>
</div>

<button class="header-right-button" mat-raised-button routerLink="app">Anmelden</button>
