<h1 class="mat-h1">Plane deine Lagerküche ganz einfach online.<br />
  Mit der eMeal Menuplanung.</h1>

<div>
  <h2>Schneller Zugriff </h2>
  <h3>Verfügbar auf allen Geräten - Direkt im Browser.</h3>
  <p> eMeal läuft im Browser. Deine Rezepte, Lager und Mahlzeiten stehen dir somit jederzeit auf all deinen
    Geräten zur Verfügung. </p>
  <p> Natürlich kannst du eMeal auch auf deinem Computer und/oder Smartphone installieren.
    Deine Rezepte werden lokal gespeichert und sobald du eine Internetverbindung hast über alle Geräte
    synchronisiert (Funktion zurzeit noch nicht verfügbar). </p>
</div>

<div>
  <h2>Einfache Zusammenarbeit</h2>
  <h3>Teilen und gemeinsames Bearbeiten von Lagern.</h3>
  <p> Cevi heisst Teamarbeit, daher läuft eMeal in der Cloud. So kannst du mit anderen in Echtzeit
    zusammenarbeiten. </p>
  <p> Erstelle und verwalte Rezeptvorlagen, damit das Planen für andere noch einfacher wird (Funktion zurzeit noch
    nicht verfügbar). </p>
</div>

<div>
  <h2>Automatisches Lagerdossier</h2>
  <h3>Exportiere Einkaufslisten als PDF oder Excel möglich.</h3>
  <p> Hast du deine Planung abgeschlossen, so kannst du sie einfach als PDF herunterladen. eMeal erstellt dir
    automatisch eine Vollständige Lager-Broschüre inkl. allen Rezepten, einer Einkaufsliste und deinen Notizen. </p>
</div>

<button class="header-right-button" mat-raised-button routerLink="app">Anmelden</button>
