<h1 class="mat-h1">Plane deine Lagerküche ganz einfach online.<br />
    Mit der eMeal Menuplanung.</h1>

<div class="info-cards">
    <mat-card class="info-card">
        <mat-card-header>
            <mat-card-title>Schneller Zugriff </mat-card-title>
            <mat-card-subtitle>Verfügbar auf allen Geräten. Direkt im Browser.</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <p>
                eMeal läuft im Browser. Deine Rezepte, Lager und Mahlzeiten stehen dir somit jederzeit auf all deinen
                Geräten zur Verfügung.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="info-card">
        <mat-card-header>
            <mat-card-title>Einfache Zusammenarbeit </mat-card-title>
            <mat-card-subtitle>Teilen und gemeinsammes Bearbeiten von Lagern.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Cevi heisst Teamarbeit, daher läuft eMeal in der Cloud. So kannst du mit anderen in Echtzeit
                zusammenarbeiten.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="info-card">
        <mat-card-header>
            <mat-card-title>Export </mat-card-title>
            <mat-card-subtitle>Exportiere Einkaufslisten als PDF oder Excel möglich.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Exportiere eine Lager als PDF-Broschüre.
            </p>
        </mat-card-content>
    </mat-card>
</div>

<button mat-raised-button routerLink="app">Anmelden</button>