<div class="colored-background">

  <h2>Was ist eMeal - Menüplanung.</h2>

  <p> eMeal - Menüplanung ist ein interaktives Planungstool für die Lagerküche. Sei es für das Cevi-, Pfadi- oder
    Klassenlager mit eMeal kannst du Rezepte, Mahlzeiten sowie ganze Lager online im Browser erstellen, verwalten und zu
    einer Lager-Broschüre zusammenstellen.<br>
  </p>

  <div class="feature-grid two-columns">

    <app-feature-item routerLink="/infos/eMeal">
      <mat-icon>tune</mat-icon>
      <h3>Anpassbare Mengen</h3>
      <p>Die Mengen deiner Rezepte lassen sich einfach anpassen und eMeal erstellt automatisch eine neue
        Einkaufsliste.</p>
    </app-feature-item>


    <app-feature-item routerLink="/infos/eMeal">
      <mat-icon>auto_awesome</mat-icon>
      <h3>Automatisches Lagerdossier</h3>
      <p>Mit wenigen Klicks erhältst du ein fertiges Lagerdossier zum Ausdrucken.</p>
    </app-feature-item>

  </div>

  <div class="feature-grid three-columns">

    <app-feature-item routerLink="/infos/eMeal">
      <mat-icon>groups</mat-icon>
      <h3>Gemeinsam Bearbeiten</h3>
      <p>Lager lassen sich teilen und können gemeinsam über alle Gerätetypen hinweg bearbeitet werden.</p>
    </app-feature-item>

    <app-feature-item routerLink="/infos/eMeal">
      <mat-icon>switch_access_shortcut</mat-icon>
      <h3>Rezepte Importieren</h3>
      <p>Importiere Rezepte von deinen liebsten Internetseiten direkt in eMeal - Menüplanung.</p>
    </app-feature-item>

    <app-feature-item routerLink="/infos/eMeal">
      <mat-icon>verified</mat-icon>
      <h3>Geprüfte Vorlagen</h3>
      <p>Geprüfte Vorlagen aus dem Kochbuch "Feine Lagerküche" lassen sich binnen Minuten zu einem Lager
        zusammenstellen.</p>
    </app-feature-item>


  </div>

</div>
