<span class="big-page-title">Lagerhandbuch erstellen</span>

<div *ngIf="pending" class="waiting">
  <br>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <br>
  <div class="waiting-comment">
    <h3>Der Export läuft, bitte warten...</h3>
    <span><a (click)="helpService.openHelpPopup()">Hilfe / Erklärungen zum Lagerhandbuch</a> </span>
  </div>
</div>

<span *ngIf="message !== ''" class="error-message"> {{message}}</span>

<ng-container *ngIf="showExports && (exports | async); let exports else noExports">
  <div *ngIf="exports.length > 0 else noExports" class="camp-export-list">
    <div class="docs camp-export" *ngFor="let export of exports">
      <h3>Lagerhandbuch und Einkaufsliste</h3>
      <app-download *ngFor="let path of export.paths" [changeDate]="getDate(export.exportDate)"
                    [name]="(path.includes('.csv') ? 'Einkaufsliste' : 'Lagerhandbuch')"
                    [docPath]="path"></app-download>
    </div>
  </div>
</ng-container>

<ng-template #noExports>
  <div class="create-first-export mat-elevation-z3" *ngIf="!exportIsRunning">
    <div>
      <h3>Du hast noch keine Exporte!</h3>
      <button mat-raised-button color="save" (click)="createNewExport()">Lagerhandbuch erstellen</button>
      <span><a (click)="helpService.openHelpPopup()">Hilfe / Erklärungen</a> </span>
    </div>
  </div>
</ng-template>

