<ng-container *ngIf="meal | async; let $meal; else loadingMeal">

    <h1 class="mat-h1">Bearbeite die Mahlzeit: {{$meal.title}}</h1>

    <p>Klicke auf eines der Rezpete, um es zu bearbeiten.</p>

    <form [formGroup]='mealInfo'>

        <mat-form-field class="full-width">
            <textarea id="descriptionField" matInput placeholder="Mahlzeit" formControlName="title"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea id="descriptionField" matInput placeholder="Mahlzeit" formControlName="participants"></textarea>
        </mat-form-field>

    </form>

    <mat-accordion *ngIf="$meal.getRecipes() | async as recipes">

        <!-- display recipe -->
        <app-edit-recipe *ngFor="let recipe of recipes" [recipe]="recipe"></app-edit-recipe>

    </mat-accordion>

</ng-container>

<!-- Loading Animation -->
<ng-template #loadingMeal>
    <h1 class="mat-h1">Daten werden geladen...</h1>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>