<h2>Neue Version - v1.10.0</h2>

<div mat-dialog-content>

  <h3> Was gibt es neues in eMeal - Menüplanung? </h3>

  <p>Dieses Update bringt viele kleinere und grössere Erweiterungen, Fehlerbehebungen und Optimierungen mit sich:</p>

  <ul>
    <li><p><b>Neuer PDF Export:</b> Wir haben den PDF Export Komplet überarbeitet. Der neue Export ist schneller und
      umfangreicher. Die vielen Einstellungen erlauben es dir, dein Lagerhandbuch genau auf deine Bedürfnisse
      abzustimmen. <br>
      Hast du gewusst: Den Link zu deinen Exporten kannst du mit anderen Nutzern teilen.</p>
    </li>
    <li>
      <p class="news-element news-feature">
        <b>Rezept-Vorlagen:</b> Mit den Rezepten und Mahlzeiten aus dem Kochbuch "Feine Lagerküche" stehen dir eine
        ganze
        Reihe erprobter Lager-Gerichte zur Verfügung. Du kannst diese Vorlagen anpassen und in deinen eigenen Lagern
        verwenden.
      </p>
    </li>

    <li><p class="news-element news-feature">
      <b>Neue Hilfetexte und Erklärungen:</b> Wir haben an über 10 Orten neue Hilfetexte und Erklärungen hinzugefügt. So
      wird das Erstellen von Menüplanen mit eMeal - Menüplanung noch einfacher.
    </p></li>
  </ul>

</div>

<div mat-dialog-actions class="custom-mat-buttons">
  <p><a routerLink="/infos/changeLog" [mat-dialog-close]=""> Alle Versionen </a></p>
  <button mat-raised-button color="save" [mat-dialog-close]=""> Schliessen</button>
</div>
