<h2>Neue Versionen - v1.12</h2>

<div mat-dialog-content>

  <h3> Was gibt es neues in eMeal - Menüplanung? </h3>

  <p>Dieses Update bringt viele kleinere und grössere Erweiterungen, Fehlerbehebungen und Optimierungen mit sich:</p>

  <ul>
    <li><p><b>PDF Export:</b> Wir haben die Export Einstellungen erweitert, so kannst du dein Lagerhandbuch genau nach deinem Geschmack erstellen lassen. <br>
      Hast du gewusst: Den Link zu deinen Exporten kannst du mit anderen Nutzern teilen.</p>
    </li>
    <li>
      <p class="news-element news-feature">
        <b>Rezepte Importieren:</b> Ein experimentelles Feature erlaubt es dir Zutaten direkt aus einer Excel-Liste zu importieren. Hinweis: Diese Funktion muss in den Einstellungen aktiviert werden.
      </p>
    </li>

    <li>
      <p class="news-element news-feature">
        Diverse Verbesserungen an der Nutzeroberfläche; verschiedene Verbesserungen erleichtern dir das Planen deiner
        Lager noch mehr. <br>
        So haben wir die Schriftart geändert, eMeal sieht nun überall gleich aus (unabhängig vom Browser / Betriebssystem).
      </p>
    </li>
  
  </ul>

</div>


<div mat-dialog-actions class="custom-mat-buttons">
  <p><a routerLink="/infos/changeLog" [mat-dialog-close]=""> Alle Versionen </a></p>
  <button mat-raised-button color="save" [mat-dialog-close]=""> Schliessen</button>
</div>
