\:host
  width: 100%
  height: 100%
  display: grid
  grid-template-rows: 50px 150px auto 50px
  grid-template-areas: "header"    "add"    "users"    "buttons"

h2
  grid-area: header

.current-collaborators
  grid-area: users

.add-collaborators
  grid-area: add


.mat-buttons
  height: 100%
  padding: 0
  grid-area: buttons
  display: grid
  grid-template-columns: auto 120px 120px

  button
    float: right
    margin: 7px  10px  !important
