<h2 mat-dialog-title> Mitarbeiter verwalten und {{data.objectName}} freigeben</h2>

<p><a (click)="helpService.openHelpPopup('recipe-authorization-infos')">Infos zu den Berechtigungen</a></p>

<app-list-of-users [userList]="data.currentAccess"  class="current-collaborators"></app-list-of-users>

<app-user-list (afterSelection)="selectUser($event)" [accessLevels]="data.accessLevels" class="add-collaborators"></app-user-list>

<div mat-dialog-actions class="mat-buttons">
  <button mat-raised-button [mat-dialog-close]="data.currentAccess"> Schliessen </button>
</div>
