<h2 mat-dialog-title> {{data.objectName}} freigeben</h2>

<app-add-new-user (afterSelection)="selectUser($event)" [accessLevels]="data.accessLevels" class="add-collaborators"></app-add-new-user>
<app-list-of-user-with-access [userList]="accessData" [accessLevels]="data.accessLevels" class="current-collaborators"></app-list-of-user-with-access>

<div mat-dialog-actions class="mat-buttons">
    <p><a (click)="helpService.openHelpPopup('recipe-authorization-infos')">Infos zu den Berechtigungen</a></p>
    <button mat-raised-button [mat-dialog-close]="null">Abbrechen</button>
    <button mat-raised-button (click)="saveValueChanges()" [mat-dialog-close]="" color="save">Speichern</button>
</div>

