<div class="centered">

    <span class="page-title">eMeal - Menüplanung für Lager</span>

    <h1 class="mat-h1">Impressum</h1>

    <article>

        <h2>Herausgeber</h2>
        <p>Verein Cevi Züri 11</p>

        <p>
            <b>Adresse:</b><br>
            Cevi Zürich 11<br>
            8052 Zürich
        </p>

        <p>
            <b>E-Mail und Internet:</b><br>
            <a href="mailto:eMeal-admin@zh11.ch">eMeal-admin@zh11.ch</a>
            <br>
            <a href="https://eMeal.zh11.ch">eMeal.zh11.ch</a>
        </p>

        <h2>Webauftritt</h2>
        <p> eMeal Menüplanung wird von Cyrill Püntener v/o JPG entwickelt und unterhalten. Für Fragen und Anregungen
            stehe ich gerne zur Verfügung <a routerLink="/infos/kontakt">Kontakt aufnehmen</a>.</p>

    </article>
</div>
