<div class="centered">

  <span class="page-title">eMeal - Menüplanung für Lager</span>

  <h1>Plane und verwalte deine Lagerküche ganz einfach online.</h1>


  <h2>Was ist eMeal - Menüplanung.</h2>

  <p> eMeal - Menüplanung ist ein interaktives Planungstool für die Lagerküche. Sei es für das Cevi-, Pfadi- oder
    Klassenlager mit eMeal kannst du Rezepte, Mahlzeiten sowie ganze Lager online im Browser erstellen, verwalten und zu
    einer Lager-Broschüre zusammenstellen.
  </p>


  <div class="sign-in-button-wrapper">
    <button mat-stroked-button routerLink="/app">
      Anmelden und loslegen!
    </button>
  </div>

  <p>
    Dein Lagerhandbuch wird dabei in der Cloud gespeichert, somit steht es dir überall und auf allen Geräten zur
    Verfügung. Natürlich kannst du deine Broschüre vor dem Lager ausdrucken und/oder als PDF herunterladen. Da alle
    Daten bereits in der Cloud gespeichert sind, wird die Zusammenarbeit mit anderen zum Kinderspiel.
  </p>

  <p>
    <a href="/infos">Weiter Informationen zu eMeal - Menüplanung</a>
  </p>


  <figure>
    <img alt="Wochenübersicht eines Lagers." class="fullscreen" src="/assets/img/Hamburger.1125w.jpg "
         srcset="/assets/img/Hamburger.450w.jpg 450w, /assets/img/Hamburger.760w.jpg 760w, /assets/img/Hamburger.1125w.jpg 1125w, /assets/img/Hamburger.1200w.jpg 1200w">
    <figcaption> Hamburger - Gekocht im J+S-Gruppenleiterkurs (GLK3, Cevi Region Zürich).</figcaption>
  </figure>


  <h2>Ideen und Unterstützung zur Lagerküche</h2>
  <p>
    Eine gute Lagerküche ist für den Erfolg eines Lagers essenziell, denn feines Essen sorgt für gute Stimmung,
    ausgewogene Ernährung für genügend Power. Doch ein Essensplan für ein ganzes Lager zusammenzustellen ist nicht so
    einfach.
  </p>
  <p>
    Unsere Software eMeal - Menüplanung hilft dir sicher dabei. Eine breite Palette an erprobten Lager-Rezepten
    ermöglicht es dir innert Minuten einen Wochenplan zu erstellen. Herzlichen Dank an dieser Stelle an die Autoren des
    Kochbuchs «Feine Lagerküche» (<a href="https://www.lagerkueche.ch/">Kochbuch bestellen</a>) für die Bereitstellung
    ihrer Rezepte.
  </p>
  <p>
    Ausserdem findest du im <a href="https://wiki.cevi.ch">Cevi-Wiki</a> viele nützliche Tipps und Tricks. Weitere
    nützliche Informationen zur Lagerküche findest du in der <a
    href="https://www.jugendundsport.ch/content/jus-internet/de/sportarten/lagersport-trekking-uebersicht/aus-und-weiterbildung/_jcr_content/contentPar/tabs_copy/items/dokumente/tabPar/downloadlist_2028361_521363757/downloadItems/1229_1460466353407.download/merkblatt_kochen_im_lager_d.pdf">Jugend+Sport-Broschüre
    Kochen im Lager</a>.
  </p>

</div>
