<h3>Mahlzeit kopieren</h3>

<div mat-dialog-content>
  <p>Möchtes du von den verwendeten Rezepten ebenfalls eine Kopie erstellen? </p>
  <p>(Wird nur empfohlen falls du keine Zugriffsrechte auf ein oder mehrere Rezepte hast. Von allen Rezepten wird
    ebenfalls eine unabhängige Kopie erstellt.)</p>
</div>

<div mat-dialog-actions class="custom-mat-buttons">
  <div class="additional-buttons">
    <button mat-stroked-button [mat-dialog-close]="'deep'" color="warn" matTooltip="Nicht empfohlen!">
      inkl. Rezepte
    </button>
  </div>
  <button mat-stroked-button [mat-dialog-close]="'close'">Abbrechen</button>
  <button mat-raised-button [mat-dialog-close]="'copy'" color="save">ohne Rezepte</button>
</div>
