<!-- Einstellungen zur Mahlzeit-->
<h2>Einstellungen zur Mahlzeit</h2>

<form [formGroup]='mealInfo'>

  <mat-form-field class="full-width">
    <input id="titleField" matInput placeholder="Mahlzeit" formControlName="title">
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea id="descriptionField" matInput placeholder="Beschreibung" formControlName="description"></textarea>
  </mat-form-field>

  <p class="info">Name der Mahlzeit in der Wochenübersicht. Standardmässig identisch zum Title. Dieser Wert ist
    spezifisch, dass heisst mehrere übereinstimmende Mahlzeiten können verschiedene Titel in der Wochenübersicht
    tragen.</p>

  <mat-form-field class="full-width">
    <input id="weekTitleField" matInput placeholder="Name in der Wochenübersicht" formControlName="weekTitle">
  </mat-form-field>

  <p class="info">Die Mengen einer Mahlzeit werden automatisch gemäss der Anzahl Teilnehmenden des Lagers
    berechnet.
    Diese Berechnung kann allerdings auch übersteuert werden.</p>

  <mat-checkbox formControlName="overrideParticipants">Teilnehmeranzahl manuell anpassen</mat-checkbox>

  <!-- TODO: muss noch angepasst werden!!!! Stimmt so nicht wirklich. -->
  <p class="warning" *ngIf="camp.participants != specificMeal.participants && mealInfo.value.overrideParticipants">
    <b>Achtung:
    </b>
    Abweichende Teilnehmeranzahl! Das Lager hat {{camp.participants}} Teilnehmende, diese Mahlzeit wird aber
    für
    {{specificMeal.participants}} Personen berechnet.
  </p>

  <mat-form-field class="full-width" *ngIf="mealInfo.value.overrideParticipants">
    <input id="participants" matInput placeholder="Anzahl Personen (nur) für diese Mahlzeit"
      formControlName="participants" type="number">
  </mat-form-field>

</form>



<div mat-dialog-actions class="mat-buttons">
  <button mat-raised-button [mat-dialog-close]="null">Abbrechen</button>
  <button mat-raised-button [disabled]="!mealInfo.touched" [mat-dialog-close]="saveValueChanges()"
    color="save">Speichern</button>
</div>
