<h2 mat-dialog-title>Informationen zum Tag</h2>

<mat-grid-list id="day-overview" cdkDropListGroup cols="1">
  <mat-grid-tile class="mat-elevation-z3">
    <app-meals-overview [hideIcons]="true" [day]="data.day" [specificMeals]="data.specificMeals"></app-meals-overview>
  </mat-grid-tile>
</mat-grid-list>

<form [formGroup]='dayInfo' class="day-form">

  <h3>Informationen zum Tag bearbeiten</h3>

  <mat-form-field class="full-width">
    <input matInput placeholder="Beschreibung" formControlName="description" autocomplete="off">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="picker" placeholder="Datum" formControlName="date"
      [matDatepickerFilter]="dateFilter">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="warn" class="delete-day-button" [mat-dialog-close]="-1">Tag löschen</button>

</form>

<div mat-dialog-actions class="mat-buttons">
  <button mat-raised-button [mat-dialog-close]="0">Abbrechen</button>
  <button mat-raised-button color="save" (click)="saveDayData()" [mat-dialog-close]="1">Übernehmen</button>
</div>
