<h3>Informationen zum {{swissDateAdapter.formatLong(data.day.dateAsTypeDate)}}</h3>

<form [formGroup]='dayInfo'>

  <mat-form-field class="full-width">
    <input matInput placeholder="Beschreibung" formControlName="description" autocomplete="off">
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Notizen / Anmerkungen zum Programm" formControlName="notes"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="picker" placeholder="Datum" formControlName="date"
           [matDatepickerFilter]="dateFilter">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


</form>

<div mat-dialog-actions class="custom-mat-buttons">
  <div class="additional-buttons">
    <button mat-stroked-button color="warn" class="delete-day-button" [mat-dialog-close]="-1" [disabled]="!data.access">
      Tag löschen
    </button>
  </div>

  <button mat-stroked-button [mat-dialog-close]="null"> Abbrechen</button>
  <button mat-raised-button color="save" (click)="saveDayData()" [mat-dialog-close]="1" [disabled]="!data.access">
    Speichern
  </button>
</div>
