<div>
  <h4>Nutzer hinzufügen</h4>

  <mat-form-field class="mat-form-field full-width">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Nach Nutzer suchen" />
  </mat-form-field>

  <table mat-table [dataSource]="userList">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="selector"></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- firstName Column -->
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef class="name">Name</th>
      <td mat-cell *matCellDef="let element">{{ element.displayName }}</td>
    </ng-container>

    <!-- lastname Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="mailadresse">Mailadresse</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="accessLevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="access-level-header">
        Zugriffsrechte
      </th>

      <td mat-cell *matCellDef="let element">
        <mat-form-field matTooltip="wähle Verwendung">
          <select matNativeControl #select [value]="element.accessLevel" (input)="element.accessLevel = select.value">
            <option value="viewer" *ngIf="accessLevels.includes('viewer')"> Leser </option>
            <option value="collaborator" *ngIf="accessLevels.includes('collaborator')"> Mitarbeiter </option>
            <option value="editor" *ngIf="accessLevels.includes('editor')"> Administrator </option>
            <option value="owner" *ngIf="accessLevels.includes('owner')"> Besitzer </option>
          </select>
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <p class="info" *ngIf="userList.filteredData.length == 0">
    Aus Gründen des Datenschutzes werden Benutzer erst nach einer Suche
    angezeigt.
  </p>

  <div matTooltip="Lager mit den ausgewählten Benutzer teilen!">
    <button mat-raised-button (click)="coworkersSelected()" [disabled]="!selection.hasValue()" color="save"> Freigeben </button>
  </div>
</div>
