<div class="centered">

  <span class="page-title">Konto / Einstellungen</span>

  <h1>Bearbeite dein Konto oder verändere Einstellungen.</h1>

  <article>
    <h2>Benutzerkonto</h2>
    <form [formGroup]="userDataForm" style="display: grid" *ngIf="userDataForm !== undefined else loadingUserSettings">

      <mat-form-field>
        <input matInput placeholder="Name" formControlName="displayName">
      </mat-form-field>

      <mat-form-field matTooltip="Die User-Id ist unveränderlich.">
        <input matInput placeholder="User-Id" [value]="(user | async)?.uid" disabled>
      </mat-form-field>

      <mat-form-field matTooltip="Ändere deine Mailadresse in deinem Google Konto.">
        <input matInput placeholder="Mailadresse" [value]="(user | async)?.email" disabled>
      </mat-form-field>

      <p *ngIf="userDataForm.value.visibility == 'visible'" class="info">
        Andere Nutzer von eMeal können dich finden und zu Lager hinzufügen: </p>
      <p *ngIf="userDataForm.value.visibility == 'hidden'" class="info">
        Andere Nutzer von eMeal können dich nicht finden und keine Lager mit dir teilen: </p>

      <mat-form-field matTooltip="Sichtbarkeit für andere Nutzer">
        <select #visibilitySelect matNativeControl [value]="userDataForm.value.visibility" placeholder="Sichtbarkeit"
                (input)="visibilityChanged(visibilitySelect.value)">
          <option value="hidden">versteckt</option>
          <option value="visible">sichtbar</option>
        </select>
      </mat-form-field>

      <button mat-raised-button [disabled]="userDataForm.untouched" (click)="updateUserData()">Speichern</button>

    </form>
  </article>

  <article>
    <h2>Einstellungen</h2>

    <p class="info"> Möchtest du, dass Vorlagen für Rezepte und Mahlzeiten in der Suche dargestellt werden?<br>
      Vorlagen sind grün markiert und können für den eigenen Gebrauch kopiert werden. </p>

    <mat-form-field matTooltip="Vorlagen für Rezepte und Mahlzeiten" class="full-width"
                    *ngIf="(settings.globalSettings | async) as settings">
      <select #includeTemplates matNativeControl [value]="settings.show_templates"
              placeholder="Sichtbarkeit von Vorlagen"
              (input)="changeIncludeTemplates(includeTemplates.value)">
        <option value=true>sichtbar</option>
        <option value=false>ausgeblendet</option>
      </select>
    </mat-form-field>

  </article>

  <!-- Loading Animation -->
  <ng-template #loadingUserSettings>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>

  <article>
    <h2>Über eMeal - Menüplanung</h2>
    <p>eMeal - Menüplanung wird vom Cevi Züri 11 unter der Leitung von Cyrill Püntener v/o JPG entwickelt.
      Der Quellcode ist unter der <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL-Lizenz</a> frei
      verfügbar. Der Cevi Züri 11 hostet eine Instanz auf <a href="https://eMeal.zh11.ch">eMeal.zh11.ch</a>.
    </p>
    <p>Aktuelle Version: <a href="https://github.com/wp99cp/menuplanung">{{version}} (Source Code)</a><br/>
      Entwickler: <a href="mailto:eMeal-admin@zh11.ch">Cyrill Püntener v/o JPG</a></p>
  </article>
</div>
