<ng-container *ngIf="!errorOnLoad else cantAccessMessage">

  <ng-container *ngIf="(camp | async) as camp; else loadingCamps">

    <span class="big-page-title">{{camp.name}}</span>

    <p><b>Anzahl Teilnehmende:</b> {{camp.participants}} Per. (davon Vegis: {{camp.vegetarians}} Per. / davon Leitende:
      {{camp.leaders}} Per.)</p>

    <!-- Week overview -->
    <app-week-overview [camp]="camp"></app-week-overview>

  </ng-container>
</ng-container>


<!-- Loading Animation -->
<ng-template #loadingCamps>

  <span class="page-title"></span>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>

</ng-template>

<!-- Cannot access the camp -->
<ng-template #cantAccessMessage>

  <p><br></p>

  <p class="warning"><b>Du hast keinen Zugriff auf dieses Lager.</b></p>
  <p class="warning">Dies kann verschiedene Gründe haben:<br>
    - du verwendest ein veraltetes Lesezeichen...<br>
    - du hast keine Internetverbindung; prüfe deine Internetverbindung...<br>
    - du hast keinen Zugriff mehr auf dieses Lager...<br>
  </p>

</ng-template>

