<ng-container *ngIf="(camp | async) as camp; else loadingCamps">

  <span class="big-page-title">{{camp.name}}</span>

  <p><b>Anzahl Teilnehmende:</b> {{camp.participants}} Per. (davon Vegis: {{camp.vegetarians}} Per. / davon Leitende:
    {{camp.leaders}} Per.)</p>

  <!-- Week Overview -->
  <app-week-view [camp]="camp"></app-week-view>

</ng-container>

<!-- Loading Animation -->
<ng-template #loadingCamps>
  <span class="page-title"></span>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
