<ng-container *ngIf="camp | async; let $camp; else: loadingCamps">

  <!-- Week Overview -->
  <app-week-view [camp]="$camp"></app-week-view>

  <!-- Allgemeine Informationen zum Lager -->
  <mat-divider></mat-divider>
  <h2>Einstellungen zum Lager</h2>

  <form [formGroup]="campInfosForm">

    <mat-form-field class="full-width">
      <input matInput placeholder="Name" formControlName="name" #name maxlength="32" autocomplete="off" />
      <mat-hint align="end">{{ name.value.length }} / 32</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea id="descriptionField" matInput placeholder="Beschreibnung" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Anzahl Teilnehmende" formControlName="participants" type="number" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Davon Vegetarier" formControlName="vegetarier" type="number" />
    </mat-form-field>

  </form>

  <button mat-raised-button [disabled]="!campInfosForm.touched" (click)="saveCamp($camp)" color="save"
    class="saveButton">
    Änderungen Speichern
  </button>



  <button mat-raised-button routerLink="export" class="export-button"> Lagerhandbuch erstellen </button>

  <!-- Zusammenarbeit -->
  <mat-divider></mat-divider>

  <h2>Mitarbeiter</h2>
  <app-list-of-users [userList]="(camp | async)?.access"></app-list-of-users>

  <app-user-list (onSelection)='selectUser($event)'></app-user-list>

</ng-container>

<!-- Loading Animation -->
<ng-template #loadingCamps>
  <h1 class="mat-h1">Daten werden geladen...</h1>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
