<h2>Einstellungen und Benutzerkonto</h2>

<h3>Einstellungen</h3>
<p>Bald schon kannst du hier verschiedenen Einstellungen vornehmen.</p>

<p><b>Schriftgrösse:</b>18px<br />
    <b>Farbschema:</b> standard</p>

<!-- TODO: Add some settings: color, font-size usw. -->

<h3>Dein Benutzerkonto</h3>
<p><b>Benutzername:</b> {{username}}<br />
    <b>Mailadresse:</b> {{mail}}</p>

<p><i>Hinweis: Ändere deinen Namen und deine Mailadresse in den Einstellungen deines Google Accounts.</i></p>

<h3>Über eMeal</h3>
<p>eMeal ist eine freie Software des Cevi Züri 11.</p>

<!-- TODO: global copy rigth tag (package.json) -->
<p>Cevi Züri 11 - eMeal<br />© 2019<br />Version: {{version}} <br /> <a
        href="https://github.com/wp99cp/menuplanung">Source on GitHub</a></p>