<h1 class="mat-h1">
  Willkommmen bei eMeal,<br />
  der Menuplanungssoftware für Lager.
</h1>

<button class="header-right-button" mat-raised-button (click)="auth.signOut()">Abmelden</button>

<!-- fast actions: overview -->
<ng-container *ngIf="currentUser | async; let user; else loadingUserData">

  <button class="menu-button" mat-raised-button routerLink="camps">Meine Lager</button>
  <button class="menu-button" mat-raised-button routerLink="settings">Einstellungen</button>
  <button class="menu-button" mat-raised-button routerLink="feedback">Fehler melden</button>

  <p>Du bist angemeldet als {{user.displayName}}.</p>

</ng-container>


<h2>What's new in Version 0.10</h2>
<p class="news-element news-feature">Das Lagerdossier ist vollständig! Es werden nun auch die Mahlzeiten angezeigt.</p>
<p class="news-element news-fixed">Verschiedene Bug-Fixes erhöhen die Stabilität von eMeal und beheben Fehler in der
  Applikation.</p>
<br>

<h2>What's new in Version 0.9</h2>
<p class="news-element news-feature">Login ist nun mit jedem Google-Account möglich.</p>
<p class="news-element news-feature">Änderungen im Hintergrund erhöhen die Sicherheit der Applikation.</p>
<p class="news-element news-feature">Nun kannst du deine Lager mit anderen Teilen und Zusammenarbeiten. Deinen
  Benutzernamen und Sichtbarkeit für andere verändern.</p>
<p class="news-element news-fixed">Verschiedene Bug-Fixes erhöhen die Stabilität von eMeal und beheben Fehler in der
  Applikation.</p>
<br>

<h2>What's new in Version 0.8</h2>
<p class="news-element news-feature">Neu kannst du erstellte Rezepte ganz einfach wieder löschen, werden offene
  Änderungen automatisch gespeichert, wirst du benachrichtigt, und du kannst nach Mahlzeiten suchen. Die Berechnung für
  vegetarische Alternativgerichte wurde vereinfacht.</p>
<p class="news-element news-feature">Das Layout der Applikation wurde verändert und verbessert. Zahlreiche Hinweise
  wurden ergänzt.</p>
<p class="news-element news-fixed">Verschiedene Bug-Fixes erhöhen die Stabilität von eMeal und beheben Fehler in der
  Applikation.</p>
<br>

<h2>What's new in Version 0.7</h2>
<p class="news-element news-feature">Offene Änderungen werden beim verlassen einer Seite automatisch gespeichert. Neu
  kannst du Rezepte von Swissmilk automatisiert importieren (BETA-Version). Und ausserdem lassen sich Mahlzeiten nun
  wieder aus einem Lager entfehrnen.</p>
<p class="news-element news-fixed">Verschiedene Bug-Fixes erhöhen die Stabilität von eMeal und beheben Fehler in der
  Applikation.</p>

<!-- Loading Animation -->
<ng-template #loadingUserData>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
