<div class="centered">
  <span class="page-title">Jetzt loslegen!</span>

  <h1 class="mat-h1">{{title}}</h1>

  <article>
    <h2>Mit Planen beginnen.</h2>
    <!-- fast actions: overview -->
    <ng-container *ngIf="currentUser | async; let user; else loadingUserData">
      <p>Beginne jetzt gleich mit dem Planen deines ersten Lagers.<br /> Übrigens du bist angemeldet als
        {{user.displayName}}.</p>
      <button class="full-width" mat-raised-button routerLink="camps">Zu meinen Lagern</button>
    </ng-container>

    <!-- Loading Animation -->
    <ng-template #loadingUserData>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>

  </article>

  <app-version-info></app-version-info>

</div>
