<h1 class="mat-h1">
  Willkommmen bei eMeal,<br />
  der Menuplanungssoftware für Lager.
</h1>

<!-- fast actions: overview -->
<ng-container *ngIf="currentUser | async; let user; else loadingUserData">

  <button class="menu-button" mat-raised-button routerLink="camps">Meine Lager</button>
  <button class="menu-button" mat-raised-button (click)="auth.signOut()">Abmelden</button>
  <button class="menu-button" mat-raised-button routerLink="settings">Einstellungen</button>
  <button class="menu-button" mat-raised-button routerLink="feedback">Fehler melden</button>

  <p>Du bist angemeldet als {{user.firstName}}.</p>

</ng-container>
<h2>What's new in der Version 0.8</h2>
<p>- Rezepte löschen</p>
<p>- Benachrichtigung für automatisches Speichern</p>
<p>- Suchfeld für neue Mahlzeiten</p>
<p>- Verschiedene Bug fixes</p>
<br>

<h2>What's new in der Version 0.7</h2>
<p>- Automatisches Speichern</p>
<p>- Automatischer Import von Rezepten von swissmilk.ch (Beta)</p>
<p>- Löschen von Mahlzeiten in der Wochenübersicht</p>
<p>- Verschiedene Bug fixes</p>




<!-- Loading Animation -->
<ng-template #loadingUserData>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
