<span class="big-page-title">Meine Mahlzeiten</span>

<mat-form-field class="mat-form-field full-width">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Mahlzeit suchen..." id="search-field">
</mat-form-field>

<div id="mealsList" *ngIf="filteredMeals as meals">

  <div class="meal mat-elevation-z3" *ngFor="let meal of meals" id="{{meal.documentId}}">

    <div class="title">
    <mat-icon>fastfood</mat-icon>
    <h3>{{meal.name}}</h3>
    </div>

    <span class="usedIn">Wird verwendet in {{meal.usedInCamps.length}} Lager/-n <a routerLink="/app/camps" [queryParams]="{ includes: meal.documentId }">(Lager anzeigen).</a> </span>
  
    <span class="description">{{meal.description == "" ? "Keine Beschreibung zu diesem Rezept." : meal.description}}</span>
   
    <div class="icons">
      <mat-icon class="edit_meal deactive"  matTooltip="Mahlzeit bearbeiten (zur Zeit noch nicht verfügbar)"> edit </mat-icon>
      <mat-icon class="delete_meal"  matTooltip="Mahlzeit löschen" (click)="delete(meal)"> delete </mat-icon>
    </div>

  </div>

</div>
