<span class="big-page-title">Meine Mahlzeiten</span>

<mat-form-field class="mat-form-field full-width">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Mahlzeit suchen..." id="search-field">
</mat-form-field>

<div id="mealsList" *ngIf="filteredElements as meals">

    <app-list-card *ngFor="let meal of meals" [cardElement]="meal" [access]="access[meal.documentId]" (copy)="copy($event)" (delete)="delete($event)"></app-list-card>

</div>

<div class="create-first-meal mat-elevation-z3" *ngIf="(dbElements | async)?.length === 0">

  <div>
    <h3>Erstelle jetzt deine erste Mahlzeit!</h3>
    <button (click)="newElement()" mat-raised-button color="save">Mahlzeit erstellen</button>
  </div>

</div>
