<h2>PDF Export erstellen</h2>

<div mat-dialog-content>

  <p>Der Export ist bereits so konfiguriert, dass du ein fix fertiges Lagerhandbuch erhältst. Für einen schnellen Export
    klicke also einfach auf den grünen Button "PDF Erstellen". Im Folgenden kannst du aber diverse Einstellungen
    vornehmen, um das Lagerhandbuch deinen Bedürfnissen anzupassen.</p>

  <form class="export-settings" [formGroup]="formGroup">

    <mat-vertical-stepper>
      <mat-step optional>
        <ng-template matStepLabel>Wochenübersicht und Rezepte</ng-template>

        <mat-slide-toggle formControlName="weekView" color="primary">Wochenübersicht im Export integrieren
        </mat-slide-toggle>
        <mat-slide-toggle formControlName="prepareMeals" color="primary">Vorzubereitende Mahlzeiten in der Wochenansicht
          anzeigen
        </mat-slide-toggle>
        <mat-slide-toggle formControlName="meals" color="primary">Mahlzeiten und Rezepte im Export integrieren
        </mat-slide-toggle>

      </mat-step>

      <mat-step optional>
        <ng-template matStepLabel>Einkaufslisten</ng-template>
        <mat-slide-toggle formControlName="shoppingList" color="primary">Einkaufslisten im Export integrieren
        </mat-slide-toggle>
        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="Anzahl Spalten Einkaufsliste" formControlName="nCols"/>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="Minimale Anzahl Zutaten pro Kategorie (sonst werden Zutaten unter Diverses aufgelistet)" formControlName="minNIng"/>
        </mat-form-field>
        <mat-slide-toggle formControlName="invertIngredients" color="primary">
          Zutaten invertieren: 1kg Mehl oder Mehl, 1kg
        </mat-slide-toggle>
      </mat-step>

      <mat-step optional>
        <ng-template matStepLabel>Weitere Optionen</ng-template>
        <mat-slide-toggle formControlName="feedbackPage" color="primary">
          Seite für Feedback der Teilnehmenden zum Lageressen
        </mat-slide-toggle>

        <mat-form-field class="full-width">
          <textarea matInput placeholder="Einleitung Feedback Seite" formControlName="feedbackMessage"></textarea>
        </mat-form-field>
      </mat-step>

    </mat-vertical-stepper>

  </form>

</div>

<div mat-dialog-actions class="custom-mat-buttons">
  <p><a (click)="helpService.openHelpPopup()">Hilfe / Erklärungen</a></p>
  <button mat-stroked-button [mat-dialog-close]="null"> Schliessen</button>
  <button mat-stroked-button (click)="legacyPDCreation()"> Legacy PDF Export</button>
  <button mat-raised-button color="save" (click)="generatePDF()">PDF Erstellen</button>
</div>
