<h1>Wochenplan {{camp.name}}</h1>

<br />

<span *ngIf="mealsChanged" (click)="saveMeals()" class="mat-raised-button button saveButton mat-save">
  Änderungen Speichern
</span>

<br />
<br />

<mat-grid-list cdkDropListGroup [gutterSize]="'10px'" cols="{{ colCounter }}" rowHeight="430px">

  <mat-grid-tile class="mat-elevation-z3" *ngFor="let day of camp.days; let i = index">
    <app-meals-overview [day]="day" (mealDropped)="drop($event)" (mealDeleted)="deleteMeal($event[0], $event[1])"
      (dayEdited)="editDay($event[0], $event[1])">
    </app-meals-overview>
  </mat-grid-tile>

  <mat-grid-tile class="mat-elevation-z3">
    <mat-icon class="add-day-icon clickable" matTooltip="Tag hinzufügen" (click)="addNewDay()"> add_circle_outline
    </mat-icon>
  </mat-grid-tile>

</mat-grid-list>

<p *ngIf="showParticipantsWarning" class="participantsWarning"><b>Achtung:</b> Bei gewissen Mahlzeiten stimmen die
  Teilnehmeranzahlen ggf. nicht mit der des Lagers überein! </p>
<br>
<br>
