.meal-list
  min-height: 260px
  display: block
  border-radius: 4px
  overflow: hidden
  width: calc(100% - 20px)
  position: inherit
  max-height: 325px
  margin-top: 25px
  overflow-y: scroll

.meal-list::-webkit-scrollbar
  width: 3px

.meal-list::-webkit-scrollbar-track
  background: #f1f1f1

.meal-list::-webkit-scrollbar-thumb
  background: #888

.meal-list::-webkit-scrollbar-thumb:hover
  background: #555

.mat-card-header
  text-align: center
  display: inline
  width: 100%

.mat-card-content
  margin-bottom: 16px

.mat-grid-tile
  max-width: 450px
  background-color: #fbfbfb

.meal-card::after
  content: "* * * * *"
  color: lightgray

.meal-card:last-child::after
  content: ""

.mat-card-header
  font-size: 12px
  font-weight: bold

  p
    margin: 0
.meal-card
  text-align: center
  margin: 3px
  border-bottom: none !important
  box-shadow: none
  padding: 5px
  background: none
  cursor: move

.participantsWarning
  color: #e06331

.cdk-drag-preview
  box-sizing: border-box
  border-radius: 4px
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)

.cdk-drag-animating
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

.meal-card:last-child
  border: none

.meal-list.cdk-drop-list-dragging .meal-card:not(.cdk-drag-placeholder)
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

.meal-placeholder
  background: #ebe8e8
  min-height: 60px
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
  margin: 10px
  border-radius: 2px

.mat-grid-tile-header
  background: rgba(6, 19, 18, 0.43)
  opacity: 0.8

.mat-grid-list
  margin-bottom: 30px

.description
  margin-bottom: 18px !important

.description:last
  margin-bottom: 0 !important

////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////

.edit-day
  position: absolute
  right: 0
  top: 18px

.meal-icon
  float: right
  margin-top: -50px
  font-size: 20px
  opacity: 0.75
  margin-right: 10px

.edit-meal-icon
  margin-right: 35px
