<h2>Wochenplan</h2>

<br />
<button mat-raised-button [disabled]="!mealsChanged" (click)="saveMeals()" class="button" color="save">
  Änderungen Speichern
</button>
<button mat-raised-button (click)="addNewDay()" class="button">
  Tag hinzufügen
</button>
<button mat-raised-button (click)="addMeal()" class="button">
  Mahlzeit hinzufügen
</button>
<br />
<br />

<mat-grid-list cdkDropListGroup [gutterSize]="'10px'" cols="{{ camp.days.length <= 7 ? camp.days.length : 5 }}"
  rowHeight="400px">
  <mat-grid-tile *ngFor="let day of camp.days; let i = index" class="mat-elevation-z3">
    <!-- Header of the day -->
    <mat-grid-tile-header>
      <h4>{{ day.getDateStr() }} {{ day.getDiscriptionInBracket() }}</h4>
      <mat-icon class="edit-day clickable" (click)="editDay(day)">edit</mat-icon>
    </mat-grid-tile-header>

    <!-- Meal List for one day-->
    <div class="meal-list" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="day.meals">
      <!-- Meal Element-->
      <mat-card class="meal-card mat-elevation-z2" *ngFor="let meal of day.meals" cdkDrag
        [ngClass]="{'participantsWarning': meal.participantsWarning}">
        <div class=" meal-placeholder" *cdkDragPlaceholder>
        </div>
        <mat-card-header>
          <p>{{ meal.title }} </p>
        </mat-card-header>
        <mat-card-content>
          <p class="description">{{ meal.description }}</p>
          <mat-icon class="edit-meal-icon meal-icon clickable"
            routerLink="meals/{{ meal.firestoreElementId }}/{{meal.specificId}}">edit
          </mat-icon>
          <mat-icon class="delete-meal-icon meal-icon clickable"
            (click)="deleteMeal(meal.firestoreElementId, meal.specificId)"> delete</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<p *ngIf="showParticipantsWarning" class="participantsWarning"><b>Achtung:</b> Bei gewissen Mahlzeiten stimmen die
  Teilnehmeranzahlen ggf. nicht mit der des Lagers überein! </p>
<br>
<br>
