<ng-container *ngIf="(meal | async) as meal; else loadingMeal">

  <span class="big-page-title">{{meal.name}}</span>

  <mat-accordion *ngIf="(recipes | async) as recipes; else loadingMeal">

    <ng-container *ngFor="let recipe of recipes; let i = index">

      <mat-expansion-panel class="mat-expansion-panel"
                           id="{{recipe.documentId}}">

        <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'70px'">
          <mat-panel-title>
            <b>{{recipe.name}}</b>
          </mat-panel-title>
          <mat-panel-description class="header-description">
            {{recipe.description}}
          </mat-panel-description>

        </mat-expansion-panel-header>

        <app-edit-recipe *ngIf="(settingsService.globalSettings | async) as settings" class="recipe-container"
                         [recipe]="recipe" [participants]="settings.default_participants"

                         (newUnsavedChanges)="newUnsavedChanges(recipe)"></app-edit-recipe>
      </mat-expansion-panel>
    </ng-container>

    <p *ngIf="recipes?.length == 0"><b>Diese Mahlzeit enthält noch keine Rezepte!</b> <br>
      Leider können aktuell in dieser Ansicht noch keine Rezepte hinzugefügt bzw. die Mahlzeit nicht bearbeitet werden.
      Füge die Mahlzeit zu einem Lager hinzu, um sie zu bearbeiten.</p>

  </mat-accordion>

</ng-container>


<!-- Loading Animation -->
<ng-template #loadingMeal>
  <h1 class="mat-h1">Daten werden geladen...</h1>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
