<ng-container *ngIf="(meal | async) as meal; else loadingMeal">

  <span class="big-page-title">{{meal.name}}</span>

  <mat-accordion *ngIf="(recipes | async) as recipes; else loadingMeal">

    <ng-container *ngFor="let recipe of recipes; let i = index">
      <app-edit-recipe *ngIf="(settingsService.globalSettings | async) as settings" class="recipe-container"
                       [recipe]="recipe" [participants]="settings.default_participants"
                       (newUnsavedChanges)="newUnsavedChanges(recipe)"></app-edit-recipe>
    </ng-container>

    <p *ngIf="recipes?.length == 0"><b>Diese Mahlzeit enthält noch keine Rezepte!</b> <br>
      Leider können aktuell in dieser Ansicht noch keine Rezepte hinzugefügt bzw. die Mahlzeit nicht bearbeitet werden.
      Füge die Mahlzeit zu einem Lager hinzu, um sie zu bearbeiten.</p>

  </mat-accordion>

</ng-container>


<!-- Loading Animation -->
<ng-template #loadingMeal>
  <h1 class="mat-h1">Daten werden geladen...</h1>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
