.onNewPage
    page-break-before: always

.onlyOnPrint
    display: none

.measureField
    width: 100px
    float: right

////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

@media screen

    .onNewPage
        border-top: solid 1px lightgray
        margin-top: 50px
        padding-top: 25px

////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

@media print

    .print
        visibility: visible
        display: block

    .onlyOnPrint
        visibility: visible
        display: block

    .titlePage
        margin-top: 300px
        text-align: center
        width: 100%

        h1
            font-size: 34px
            margin-bottom: 450px
n