<button class="print default" (click)="print()">Lager Drucken</button>
<h1 class="warning onlyOnPrint">Diese Seite nicht drucken!</h1>
<h1 class="warning onlyOnPrint">Das Dokument beginnt auf der nächsten Seite.</h1>

<p>
    Das Ausdruck ist in einem Google Chrome Brwoser über die Druckfunktion möglich.
</p>


<!-- add this div in final version -->
<!-- <div class="onlyOnPrint"> -->

<!-- Titleblatt -->
<div class="onNewPage titlePage">
    <h1>Sommerlager 2018</h1>

    <p>Version vom {{today}} </p>
    <p *ngIf="user | async; let user">{{user.firstName}}</p>

</div>

<!-- Wochenplan -->
<!-- <h1 class="onNewPage">Wochenplan</h1> -->

<!-- Mahlzeiten -->
<!-- <h1 class="onNewPage">Zmorgen (Montag, 1. Dezemeber 2019)</h1> -->

<!-- Einkaufsliste -->
<h1 class="onNewPage">Einkaufsliste (Ganzes Lager)</h1>

<br />
<br />

<div *ngIf="shoppingList | async; let list">
    <ng-container *ngFor="let categorie of list">

        <h2>{{categorie.name}}</h2>
        <table>
            <ng-container *ngFor="let ingredient of categorie.ingredients">
                <tr>
                    <td>{{ingredient.measure}}</td>
                    <td>{{ingredient.unit}}</td>
                    <td>{{ingredient.food}}</td>
                </tr>
            </ng-container>
        </table>

    </ng-container>
</div>

<!-- Last new Page -->
<h1 class="onNewPage onlyOnPrint warning">Diese Seite nicht drucken!</h1>
<h1 class="warning onlyOnPrint">Das Dokument endet auf der vorherigen Seite.</h1>

<!-- </div> -->