<h2 mat-dialog-title>Rezept erstellen.</h2>

<form [formGroup]="newRecipeForm">

  <h3>Allgemeines</h3>
  <mat-form-field>
    <input matInput required formControlName="title" placeholder="Name der Mahlzeit">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Beschreibung" formControlName="description"></textarea>
  </mat-form-field>

  <p class="info">
    Eine gute Beschreibung enthält Angaben zum Alter der TNs.
    Sowie weitere wichtige Informationen zur Mahlzeit.
  </p>

  <mat-form-field>
    <textarea matInput placeholder="Notizen" formControlName="notes"></textarea>
  </mat-form-field>

</form>

<div mat-dialog-actions class=" mat-buttons">
  <button mat-raised-button [mat-dialog-close]="close()">Abbrechen</button>
  <button mat-raised-button [mat-dialog-close]="create()" color="save"
    [disabled]="newRecipeForm.value.title == ''">Rezept erstellen</button>
</div>
