@import '~@angular/material/prebuilt-themes/indigo-pink.css'

html, body
  font-size: 10px
  margin: 0
  padding: 0
  font-family: Roboto

main
  margin: 25px
  min-height: calc(100% - 220px)

table
  width: 100%

.warning
  color: red

.mat-divider
  margin: 25px 0 !important

.full-width
  width: 100%