@import '~@angular/material/prebuilt-themes/indigo-pink.css'

html, body
  font-size: 10px
  margin: 0
  padding: 0
  font-family: Roboto

main
  margin: 25px
  min-height: calc(100% - 220px)

  p
    max-width: 850px

table
  width: 100%

.warning
  color: red

.info
  color: gray
  margin-top: 20px
  margin-bottom: 10px

.mat-divider
  margin: 25px 0 !important

.full-width
  width: 100%

textarea
  line-height: 1.45em

.mat-raised-button
  margin: 15px !important

// print modus
@media print

  body
    visibility: hidden !important