<h1 class="mat-h1">Willkommmen bei eMeal.<br />Deine Menuplanungssoftware für Lager.</h1>


<ng-container *ngIf="auth.fireAuth.user | async as user else loadingUserData">
    <p>Aktueller Benutzer: {{user.displayName}}</p>

    <button class="menu-button" mat-raised-button routerLink="camps">Deinen Lager</button>
    <button class="menu-button" mat-raised-button routerLink="meals">Deine Rezepte</button>
    <button class="menu-button" mat-raised-button (click)="auth.signOut()">Abmelden</button>
    <button class="menu-button" mat-raised-button routerLink="settings">Einstellungen</button>
</ng-container>

<!-- Loading Animation -->
<ng-template #loadingUserData>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>