<h2 *ngIf="camp | async; else lodingData">Bearbeite dein Lager: {{(camp | async)?.name}}</h2>

<!-- Anzeige während dem Laden der Daten -->
<ng-template #lodingData>
    <h2>Daten werden geladen...</h2>
</ng-template>


<!-- Allgemeine Informationen zum Lager -->

<div *ngIf="camp | async; let $camp">

    <button class="saveButton" *ngIf="saveButtonActive" (click)="save()">Speichern</button>

    <p>Informationen zum {{$camp.name}}:</p>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Jahr</th>
            <th>#TNs</th>
        </tr>
        <tr>
            <td contenteditable (focusout)="onValueChange($event.target.innerHTML, 'name')">{{$camp.name}}</td>
            <td contenteditable (focusout)="onValueChange($event.target.innerHTML, 'description')">
                {{$camp.description}}
            </td>
            <td>{{$camp.year}}</td>
            <td contenteditable (focusout)="onValueChange($event.target.innerHTML, 'participants')">
                {{$camp.participants}}</td>
        </tr>
    </table>

</div>



<h3>Wochenübersicht</h3>

<!-- erst sichtbar, nachdem das camp geladen wurde-->
<mat-tab-group *ngIf="camp | async; let $camp ">

    <mat-tab *ngFor="let day of $camp.getDays() | async" label="{{day.getDateStr()}}">


    </mat-tab>

</mat-tab-group>