<ng-container *ngIf="camp | async; let $camp; else loadingCamps">

    <h1 class="mat-h1">Bearbeite dein Lager: {{$camp.name}}</h1>

    <!-- Allgemeine Informationen zum Lager -->
    <form [formGroup]='campInfos'>
        <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="full-width">
            <textarea id="descriptionField" matInput placeholder="Beschreibnung"
                formControlName="description"></textarea>
        </mat-form-field>
    </form>
    <button mat-raised-button [disabled]="!campInfos.touched" (click)='saveCampInfo()'>Änderungen Speichern</button>

    <!-- WeekOverview of the camp-->
    <mat-divider></mat-divider>
    <app-week-view [camp]="$camp"></app-week-view>

</ng-container>


<!-- Loading Animation -->
<ng-template #loadingCamps>
    <h1 class="mat-h1">Daten werden geladen...</h1>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>