<div class="footer-menu-area">

  <div class="footer-menu">

    <div class="submenu">
      <h4>Erklärungen</h4>
      <span class="clickable" routerLink="/infos">Über eMeal - Menüplanung</span>
      <span class="clickable" routerLink="/infos/hilfe">Hilfe und Anleitungen</span>

      <span><br></span>
      <h4>Kontakt</h4>
      <span class="clickable" routerLink="infos/kontakt">Kontakt </span>
      <span class="clickable" routerLink="infos/datenschutz">Datenschutzbestimmungen</span>
      <span class="clickable" routerLink="infos/impressum">Impressum</span>

    </div>

    <hr/>

    <div class="submenu">
      <h4>Ideen & Rezepte</h4>
      <span><a href="https://www.lagerkueche.ch/bestellung">Kochbuch: Feine Lagerküche</a></span>
      <span><a href="https://wiki.cevi.ch/index.php/Kategorie:Rezept">Rezeptsammlung</a></span>

      <span><br></span>
      <h4>Hilfsmittel zur Lagerküche</h4>
      <span><a href="https://wiki.cevi.ch/index.php/Lagerk%C3%BCche">Tipps und Tricks</a></span>
      <span><a
        href="https://www.jugendundsport.ch/content/jus-internet/de/sportarten/lagersport-trekking-uebersicht/aus-und-weiterbildung/_jcr_content/contentPar/tabs_copy/items/dokumente/tabPar/downloadlist_2028361_521363757/downloadItems/1229_1460466353407.download/merkblatt_kochen_im_lager_d.pdf">Merkblatt Kochen im Lager</a></span>

    </div>

    <hr/>

    <div class="submenu">
      <h4>Cevi Züri 11</h4>
      <span><a href="https://zh11.ch/ueber-uns">Cevi Züri 11</a></span>
      <span><a href="https://zh11.ch/material">Materialvermietung</a></span>
      <span><br></span>

      <h4>weiteres zum Cevi</h4>
      <span><a href="https://www.cevi.ch/home/">Cevi Schweiz</a></span>
      <span><a href="https://app.programmplaner.ch/">Programmplaner</a></span>

    </div>

  </div>

</div>

<footer class="footer">
  <span><a [routerLink]="'infos/changeLog'"><b>Aktuelle Version:</b> {{buildInfo.version}}</a></span>
  <span>(Build: {{buildInfo.git.hash}} vom {{ buildDate}})</span>
  <span><a href="https://github.com/wp99cp/eMeal_menuplanung">Source code available under AGPL.</a></span>
  <span><br></span>
  <span>{{copyrights}}</span>
</footer>
