<!-- Header of the day -->
<mat-grid-tile-header>
  <h4>{{ day.getDateStr() }} {{ day.getDiscriptionInBracket() }}</h4>
  <mat-icon class="edit-day clickable" (click)="editDay(day)" matTooltip="Tag bearbeiten" *ngIf="!hideIcons">edit
  </mat-icon>
</mat-grid-tile-header>

<!-- Meal List for one day-->
<div class="meal-list" cdkDropList (cdkDropListDropped)="mealDropped.emit($event)" [cdkDropListData]="day.meals">
  <!-- Meal Element-->
  <mat-card class="meal-card mat-elevation-z2" *ngFor="let meal of day.meals" cdkDrag
    [ngClass]="{'participantsWarning': meal.participantsWarning}">
    <div class=" meal-placeholder" *cdkDragPlaceholder>
    </div>
    <mat-card-header>
      <p>{{ meal.title }} </p>
    </mat-card-header>

    <mat-card-content>

      <p class="description">{{ meal.description }}</p>

      <mat-icon class="edit-meal-icon meal-icon clickable" *ngIf="!hideIcons"
        routerLink="meals/{{ meal.firestoreElementId }}/{{meal.specificId}}" matTooltip="Rezept bearbeiten">edit
      </mat-icon>

      <mat-icon class="delete-meal-icon meal-icon clickable" *ngIf="!hideIcons"
        (click)="mealDeleted.emit([meal.firestoreElementId, meal.specificId])" matTooltip="Rezept löschen"> delete
      </mat-icon>

    </mat-card-content>
  </mat-card>
</div>
