<!-- Header of the day -->
<mat-grid-tile-header>
  <h4>{{swissDateAdapter.formatLong(day.dateAsTypeDate) }} {{ day.getDiscriptionInBracket() }}</h4>
  <mat-icon class="edit-day clickable" (click)="editDay(day)"
            matTooltip="{{access ? 'Tag bearbeiten' : 'Informationen zum Tag'}}" *ngIf="!hideIcons"> edit
  </mat-icon>
</mat-grid-tile-header>

<!-- Meal List for one day-->
<div class="meal-list" cdkDropList [cdkDropListData]="specificMeals" id="{{day.getTimestamp().toMillis()}}">

  <!-- Meal Element-->
  <ng-container *ngFor="let meal of specificMeals; let i = index">

    <div class="meal-card" cdkDrag
         [ngClass]="{'participantsWarning': meal.overrideParticipants, 'prepare': meal.prepare}"
         (cdkDragDropped)="mealDropped.emit([meal, $event])"
         matTooltip="{{meal.overrideParticipants ? 'Geänderte Teilnehmeranzahl!' : ''}}" id="{{meal.documentId}}">

      <div class=" meal-placeholder" *cdkDragPlaceholder></div>

      <span class="meal-card-name"> {{ meal.usedAs }} </span>

      <span class=" meal-card-description">{{ meal.weekTitle }}</span>

      <div class="meal-card-icons">
        <mat-icon class="edit-meal-icon meal-icon clickable" *ngIf="!hideIcons"
                  routerLink="meals/{{ meal.getMealId() }}/{{meal.documentId}}" matTooltip="Rezept bearbeiten">edit
        </mat-icon>
        <mat-icon class="delete-meal-icon meal-icon clickable" *ngIf="!hideIcons && access"
                  (click)="mealDeleted.emit([meal.getMealId(), meal.documentId])" matTooltip="Rezept"> delete
        </mat-icon>
      </div>

    </div>

    <span *ngIf="(i != specificMeals.length - 1) && visible(meal.documentId)" class="meal-separator">
      * * * * *
    </span>

  </ng-container>

  <span *ngIf=" specificMeals?.length > 0" class="meal-separator">
      * * * * *
    </span>

  <div class="dotted-box meal-card clickable" matTooltip="Hinzufügen" (click)="addNewMeal(day)">
    <mat-icon class="add-meal-card-icon" >add_circle_outline</mat-icon>
  </div>

</div>

<p *ngIf="warning != ''" class="warning-dublicate" matTooltip="Beim Export werden beide Mahlzeiten angezeigt.">
  {{warning}}</p>
