<!-- Header of the day -->
<mat-grid-tile-header>
  <h4>{{ day.getDateStr() }} {{ day.getDiscriptionInBracket() }}</h4>
  <mat-icon class="edit-day clickable" (click)="editDay(day)" matTooltip="Tag bearbeiten" *ngIf="!hideIcons">edit
  </mat-icon>
</mat-grid-tile-header>

<!-- Meal List for one day-->
<div class="meal-list" cdkDropList (cdkDropListDropped)="mealDropped.emit($event)" [cdkDropListData]="day.meals">

  <!-- Meal Element-->
  <ng-container *ngFor="let meal of day.meals; let i = index">

    <div class="meal-card" cdkDrag [ngClass]="{'participantsWarning': meal.participantsWarning}"
      matTooltip="{{meal.participantsWarning ? 'Geänderte Teilnehmeranzahl!' : ''}}">

      <div class=" meal-placeholder" *cdkDragPlaceholder> </div>

      <span class="meal-card-name"> {{ meal.name }} </span>

      <span class=" meal-card-description">{{ meal.description }}</span>

      <div class="meal-card-icons">
        <mat-icon class="edit-meal-icon meal-icon clickable" *ngIf="!hideIcons"
          routerLink="meals/{{ meal.firestoreElementId }}/{{meal.specificId}}" matTooltip="Rezept bearbeiten">edit
        </mat-icon>
        <mat-icon class="delete-meal-icon meal-icon clickable" *ngIf="!hideIcons"
          (click)="mealDeleted.emit([meal.firestoreElementId, meal.specificId])" matTooltip="Rezept löschen"> delete
        </mat-icon>
      </div>

    </div>

    <span *ngIf="i != day.meals.length - 1" class="meal-separator"> * * * * * </span>

  </ng-container>

</div>

<p *ngIf="warning != ''" class="warning-dublicate" matTooltip="Wird beim Export nicht unterstützt!">{{warning}}</p>
