<div class="centered">

  <span class="page-title">eMeal - Menüplanung für Lager</span>

  <h1 class="mat-h1">Datenschutzerklärung</h1>

  <h2>Verantwortliche Stelle</h2>
  <p>Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO),
    ist:</p>

  <p>
    Cevi Züri 11 <br>
    c/o Cyrill Püntener v/o JPG <br>
    8052 Zürich
  </p>

  <p><b>E-Mail:</b> datenschutz@zh11.ch </p>
  <p><b>Webseite:</b> https://eMeal.zh11.ch </p>


  <h2>Allgemeiner Hinweis</h2>

  <p>
    Gestützt auf Artikel 13 der schweizerischen Bundesverfassung und die datenschutzrechtlichen Bestimmungen des Bundes
    (Datenschutzgesetz, DSG) hat jede Person Anspruch auf Schutz ihrer Privatsphäre sowie auf Schutz vor Missbrauch
    ihrer persönlichen Daten. Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir
    behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie
    dieser Datenschutzerklärung.
  </p>
  <p>
    In Zusammenarbeit mit unseren Hosting-Providern bemühen wir uns, die Datenbanken so gut wie möglich vor fremden
    Zugriffen, Verlusten, Missbrauch oder vor Fälschung zu schützen.
  </p>
  <p>
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
    Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
  </p>
  <p>
    Durch die Nutzung dieser Webseite (eMeal.zh11.ch) erklären Sie sich mit der Erhebung, Verarbeitung und Nutzung von
    Daten gemäss der nachfolgenden Beschreibung einverstanden. Diese Webseite kann grundsätzlich ohne Registrierung
    besucht werden. Dabei werden Daten wie beispielsweise aufgerufene Seiten bzw. Namen der abgerufenen Datei, Datum und
    Uhrzeit zu statistischen Zwecken auf dem Server gespeichert, ohne dass diese Daten unmittelbar auf Ihre Person
    bezogen werden. Personenbezogene Daten, insbesondere Name, Adresse oder E-Mail-Adresse werden soweit möglich auf
    freiwilliger Basis erhoben. Ohne Ihre Einwilligung erfolgt keine Weitergabe der Daten an Dritte.
  </p>


  <h2>Bearbeitung von Personendaten</h2>
  <p>
    Personendaten sind alle Angaben, die sich auf eine bestimmte oder bestimmbare Person beziehen. Eine betroffene
    Person ist eine Person, über die Personendaten bearbeitet werden. Bearbeiten umfasst jeden Umgang mit Personendaten,
    unabhängig von den angewandten Mitteln und Verfahren, insbesondere das Aufbewahren, Bekanntgeben, Beschaffen,
    Löschen, Speichern, Verändern, Vernichten und Verwenden von Personendaten.
  </p>
  <p>
    Wir bearbeiten Personendaten im Einklang mit dem schweizerischen Datenschutzrecht. Im Übrigen bearbeiten wir –
    soweit und sofern die EU-DSGVO anwendbar ist – Personendaten gemäss folgenden Rechtsgrundlagen im Zusammenhang mit
    Art. 6 Abs. 1 DSGVO:
  </p>
  <p>
    lit. a) Bearbeitung von Personendaten mit Einwilligung der betroffenen Person. lit. b) Bearbeitung von Personendaten
    zur Erfüllung eines Vertrages mit der betroffenen Person sowie zur Durchführung entsprechender vorvertraglicher
    Massnahmen. lit. c) Bearbeitung von Personendaten zur Erfüllung einer rechtlichen Verpflichtung, der wir gemäss
    allenfalls anwendbarem Recht der EU oder gemäss allenfalls anwendbarem Recht eines Landes, in dem die DSGVO ganz
    oder teilweise anwendbar ist, unterliegen. lit. d) Bearbeitung von Personendaten um lebenswichtige Interessen der
    betroffenen Person oder einer anderen natürlichen Person zu schützen. lit. f) Bearbeitung von Personendaten um die
    berechtigten Interessen von uns oder von Dritten zu wahren, sofern nicht die Grundfreiheiten und Grundrechte sowie
    Interessen der betroffenen Person überwiegen. Berechtigte Interessen sind insbesondere unser
    betriebswirtschaftliches Interesse, unsere Website bereitstellen zu können, die Informationssicherheit, die
    Durchsetzung von eigenen rechtlichen Ansprüchen und die Einhaltung von schweizerischem Recht. Wir bearbeiten
    Personendaten für jene Dauer, die für den jeweiligen Zweck oder die jeweiligen Zwecke erforderlich ist. Bei länger
    dauernden Aufbewahrungspflichten aufgrund von gesetzlichen und sonstigen Pflichten, denen wir unterliegen, schränken
    wir die Bearbeitung entsprechend ein.
  </p>
  <p>

  <h2>Datenschutzerklärung für SSL-Verschlüsselung</h2>
  <p>
    Diese WebSite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum
    Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte
    Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von "http://" auf "https://" wechselt und an dem
    Schloss-Symbol in Ihrer Browserzeile.
  </p>
  <p>
    Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten
    mitgelesen werden.
  </p>
  <p>

  <h3> Datenschutzerklärung für Server-Log-Files</h3>
  <p>
    Der Provider dieser WebSite erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr
    Browser automatisch an uns übermittelt. Dies sind:
  </p>
  <p>

    Browsertyp und Browserversion, verwendetes Betriebssystem, Referrer URL, Hostname des zugreifenden Rechners sowie
    Uhrzeit der Serveranfrage.
  </p>
  <p>

    Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen
    wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zuprüfen, wenn uns konkrete Anhaltspunkte für
    eine rechtswidrige Nutzung bekannt werden.
  </p>
  <p>

  <h2>Dienste von Dritten</h2>
  <p>
    Diese WebSite verwenden allenfalls Google Maps für das Einbetten von Karten, Google Invisible reCAPTCHA für den
    Schutz gegen Bots und Spam sowie YouTube für das Einbetten von Videos.
  </p>
  <p>
    Diese Dienste der amerikanischen Google LLC verwenden unter anderem Cookies und infolgedessen werden Daten an Google
    in den USA übertragen, wobei wir davon ausgehen, dass in diesem Rahmen kein personenbezogenes Tracking allein durch
    die Nutzung unserer Website stattfindet.
  </p>
  <p>
    Google hat sich verpflichtet, einen angemessenen Datenschutz gemäss dem amerikanisch-europäischen und dem
    amerikanisch-schweizerischen Privacy Shield zu gewährleisten.
  </p>
  <p>
    Weitere Informationen finden sich in der Datenschutzerklärung von Google.
  </p>

  <h2>Datenschutzerklärung für Kontaktformular</h2>

  <p>
    Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der
    von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns
    gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
  </p>

  <h2>Datenschutzerklärung für Newsletterdaten</h2>

  <p>
    Wenn Sie den auf dieser WebSite angebotenen Newsletter beziehen möchten, benötigen wir von Ihnen eine E-Mail-Adresse
    sowie Informationen, welche uns die Überprüfung gestatten, dass Sie der Inhaber der angegebenen E-Mail-Adresse sind
    und mit dem Empfang des Newsletters einverstanden sind. Weitere Daten werden nicht erhoben. Diese Daten verwenden
    wir ausschließlich für den Versand der angeforderten Informationen und geben sie nicht an Dritte weiter.
  </p>
  <p>
    Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse sowie deren Nutzung zum Versand des
    Newsletters können Sie jederzeit widerrufen, etwa über den "Austragen"-Link im Newsletter.
  </p>
  <h2>Datenschutzerklärung für Recht auf Auskunft, Löschung, Sperrung</h2>
  <p>
    Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren
    Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung
    dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der
    im Impressum angegebenen Adresse an uns wenden.
  </p>

  <h2>Datenschutzerklärung für Widerspruch Werbe-Mails</h2>

  <p> Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht
    ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten
    behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa
    durch Spam-E-Mails, vor.
  </p>
  <h2>Kostenpflichtige Leistungen</h2>
  <p>
    Zur Erbringung kostenpflichtiger Leistungen werden von uns zusätzliche Daten erfragt, wie z.B. Zahlungsangaben, um
    Ihre Bestellung resp. Ihren Auftrag ausführen zu können. Wir speichern diese Daten in unseren Systemen, bis die
    gesetzlichen Aufbewahrungsfristen abgelaufen sind.
  </p>
  <h2>Datenschutzerklärung für YouTube</h2>
  <p>
    Diese WebSite nutzt Plugins der von Google betriebenen Seite YouTube. Betreiber der Seiten ist die YouTube, LLC, 901
    Cherry Ave., San Bruno, CA 94066, USA. Wenn Sie eine unserer mit einem YouTube-Plugin ausgestatteten Seiten
    besuchen, wird eine Verbindung zu den Servern von YouTube hergestellt. Dabei wird dem Youtube-Server mitgeteilt,
    welche unserer Seiten Sie besucht haben.
  </p>
  <p>
    Wenn Sie in Ihrem YouTube-Account eingeloggt sind ermöglichen Sie YouTube, Ihr Surfverhalten direkt Ihrem
    persönlichen Profil zuzuordnen. Dies können Sie verhindern, indem Sie sich aus Ihrem YouTube-Account ausloggen.
  </p>
  <p>
    Weitere Informationen zum Umgang von Nutzerdaten finden Sie in der Datenschutzerklärung von YouTube unter:
    https://www.google.de/intl/de/policies/privacy
  </p>
  <h2>
    Urheberrechte</h2>
  <p>
    Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website, gehören
    ausschliesslich dem Betreiber dieser Website oder den speziell genannten Rechteinhabern. Für die Reproduktion von
    sämtlichen Dateien, ist die schriftliche Zustimmung des Urheberrechtsträgers im Voraus einzuholen.
  </p>
  <p>
    Wer ohne Einwilligung des jeweiligen Rechteinhabers eine Urheberrechtsverletzung begeht, kann sich strafbar und
    allenfalls Schadenersatzpflichtig machen.
  </p>
  <h2>Allgemeiner Haftungsausschluss</h2>
  <p>
    Alle Angaben unseres Internetangebotes wurden sorgfältig geprüft. Wir bemühen uns, unser Informationsangebot
    aktuell, inhaltlich richtig und vollständig anzubieten. Trotzdem kann das Auftreten von Fehlern nicht völlig
    ausgeschlossen werden, womit wir keine Garantie für Vollständigkeit, Richtigkeit und Aktualität von Informationen
    auch journalistisch-redaktioneller Art übernehmen können. Haftungsansprüche aus Schäden materieller oder ideeller
    Art, die durch die Nutzung der angebotenen Informationen verursacht wurden, sind ausgeschlossen, sofern kein
    nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
  </p>
  <p>
    Der Herausgeber kann nach eigenem Ermessen und ohne Ankündigung Texte verändern oder löschen und ist nicht
    verpflichtet, Inhalte dieser Website zu aktualisieren. Die Benutzung bzw. der Zugang zu dieser Website geschieht auf
    eigene Gefahr des Besuchers. Der Herausgeber, seine Auftraggeber oder Partner sind nicht verantwortlich für Schäden,
    wie direkte, indirekte, zufällige, vorab konkret zu bestimmende oder Folgeschäden, die angeblich durch den Besuch
    dieser Website entstanden sind und übernehmen hierfür folglich keine Haftung.
  </p>
  <p>
    Der Herausgeber übernimmt ebenfalls keine Verantwortung und Haftung für die Inhalte und die Verfügbarkeit von
    Webseiten Dritter, die über externe Links dieser Webseite erreichbar sind. Für den Inhalt der verlinkten Seiten sind
    ausschliesslich deren Betreiber verantwortlich. Der Herausgeber distanziert sich damit ausdrücklich von allen
    Inhalten Dritter, die möglicherweise straf- oder haftungsrechtlich relevant sind oder gegen die guten Sitten
    verstossen.
  </p>
  <p>

  <h2>Änderungen</h2>
  <p>
    Wir können diese Datenschutzerklärung jederzeit ohne Vorankündigung anpassen. Es gilt die jeweils aktuelle, auf
    unserer Website publizierte Fassung. Soweit die Datenschutzerklärung Teil einer Vereinbarung mit Ihnen ist, werden
    wir Sie im Falle einer Aktualisierung über die Änderung per E-Mail oder auf andere geeignete Weise informieren.
  </p>

  <h2>Fragen an den Datenschutzbeauftragten </h2>
  <p>
    Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die für
    den Datenschutz zu Beginn der Datenschutzerklärung aufgeführten, verantwortlichen Person in unserer Organisation.
  </p>

  <p>
    Zürich, 6. Mai 2020 <br>
    <b>Quelle:</b> Datenschutz-Generator von SwissAnwalt
  </p>
</div>
